mixin header__ref-item(props)
  -
    const { content, plugLink = '/plug-link', links = plugLink } = props;
    const isDropdown = links instanceof Array;

  if isDropdown
    .header__item.js-header__item=content
      .header__arrow-down
      .header__item-list
        each link in links
          - const { refContent, refLink = plugLink } = link;
          a.header__subitem(href=refLink)=refContent
  else
    a.header__item(href=`${links}`)=content