extends ~Root/layouts/base.pug

include ~Blocks/login-page/login-page.pug

block variables
  - const title = "Вход"

block content
  +login-page({
    loginCard: {
      buttonSend: {
        content: "Войти",
        theme: "directed",
        transforms: ["high"],
        justify: "stretch",
      },
      buttonHelp: {
        reference: "registration.html",
        content: "Создать",
        theme: "bordered",
        transforms: ["high"],
      },
    },
  })