.login {
  background: url('./static/images/background-sign-in.jpg') no-repeat;
  background-size: cover;
  height: 683px;
  background-position: 0 79%;
  display: flex;
  align-items: center;
  justify-content: center;
}