mixin colors-and-fonts__color-item(color, name, opacity)
      .colors-and-fonts__color-item
        .colors-and-fonts__color-example(style="background-color: " + color + "; opacity: " + opacity + ";")
        .colors-and-fonts__color-description
          h2=name
          p=color