@import 'Root/style-variables.scss';

.button {
  display: inline-block;
  width: auto;

  &:hover {
    opacity: 0.5;
  }

  &__content {
    display: inline-flex;
    position: relative;
    background: $gradientColor;
    border-radius: 1.3rem;
    color: white;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.73rem;
    cursor: pointer;
    letter-spacing: 0.2px;
    padding: 0.65rem 1.3rem;

    &_theme_bordered {
      $border: 2px;
      color: #BC9CFF;
      background-clip: padding-box;
      z-index: 0;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        margin: $border;
        border-radius: 1.96rem;
        background-color: white;
      }
    }

    &_theme_directed {
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        right: 17px;
        height: 10px;
        width: 10px;
        border: 2px solid white;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
      }

      &::after {
        content: '';
        position: absolute;
        right: 17px;
        height: 2px;
        width: 15px;
        background-color: white;
      }

      @media(max-width: 420px) {
        text-align: center;

        &::before, &::after {
          content: none;
        }
      }
    }

    &_theme_clean {
      background: none;
      color: $purple;
      padding: 0;

      &:hover {
        color: $darkShade;
      }
    }

    &_transform_high {
      $indent: 0.98rem;

      border-radius: $indent * 2;
      padding-top: $indent;
      padding-bottom: $indent;
    }

    &_transform_wide {
      padding-left: 1.55rem;
      padding-right: 1.55rem;
    }
  }

  &_theme_directed {
    width: 100%;
  }
}
