@import '../../style-variables.scss';

.button {
  display: inline-block;
  width: auto;

  &__content {
    $height: 34px;
    display: inline-flex;
    position: relative;
    height: $height;
    background: $gradientColor;
    border-radius: $height / 2;
    color: white;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.73rem;
    cursor: pointer;
    letter-spacing: 0.2px;
    padding: 0 1.3rem;
  }

  &:hover {
    opacity: 0.5;
  }

  &_ghost-button {
    .button__content {
      $height: 34px;
      $border: 2px;
      color: #BC9CFF;
      background-clip: padding-box;
      z-index: 0;

      &:hover {
        opacity: 0.50;

        &::before {
          opacity: 1;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: $border;
        border-radius: $height / 2;
        background-color: white;
      }
    }
  }

  &_send-button {
    width: 100%;

    .button__content {
      $height: 45px;
      width: 100%;
      height: $height;
      border-radius: $height / 2;

      &::before {
        content: '';
        position: absolute;
        right: 17px;
        height: 10px;
        width: 10px;
        border: 2px solid white;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
      }

      &::after {
        content: '';
        position: absolute;
        right: 17px;
        height: 2px;
        width: 15px;
        background-color: white;
      }

      @media(max-width: 420px) {
        text-align: center;
        &::before, &::after {
          content: none;
        }
      }
    }
  }

  &_skeleton-button {
    .button__content {
      background: none;
      color: $purple;
      padding: 0;
      height: auto;

      &:hover {
        color: $darkShade;
      }
    }
  }
}
