extends ../../layouts/base.pug

include ../../blocks/landing-card/landing-card.pug

block variables
  -let title = "Отель \"TOXIN\""
  -let isAuthorized = false

block content
  .landing
    .landing__wrapper.container
      +landing-card()
      p.landing__slogan
        |Лучшие номера для вашей работы,
        |отдыха и просто вдохновения