include __circle/circle-diagram__circle.pug

mixin circle-diagram(props)
  - const { count = 0, votes = "голосов", proportions } = props;

  .circle-diagram
    .circle-diagram__diagram
      .circle-diagram__data
        h1.circle-diagram__count=count
        h3.circle-diagram__votes=votes
      +circle-diagram__circle(proportions)
    .circle-diagram__description
      .circle-diagram__item
        .circle-diagram__sample.circle-diagram__sample_perfect
        .circle-diagram__rate Великолепно
      .circle-diagram__item
        .circle-diagram__sample.circle-diagram__sample_good
        .circle-diagram__rate Хорошо
      .circle-diagram__item
        .circle-diagram__sample.circle-diagram__sample_normal
        .circle-diagram__rate Удовлетворительно
      .circle-diagram__item
        .circle-diagram__sample.circle-diagram__sample_bad
        .circle-diagram__rate Разочарован