@import 'Source/style-variables.scss';

.pagination {
  $side: 40px;
  max-width: 240px;
  font-size: 12px;

  &__items {
    display: flex;
    margin-bottom: 12px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $side;
    width: $side;
    border-radius: 50%;
    color: $textColor50;
    user-select: none;

    &_available {
      cursor: pointer;

      &:hover {
        background: $primaryGradientTranslucent;
      }
    }

    &_active {
      background: $primaryGradient;
      font-weight: bold;
      color: white;
    }

    &_next {
      background: $secondaryGradient;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: 14px;
        height: 10px;
        width: 10px;
        border: 2px solid white;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
      }

      &::after {
        content: '';
        position: absolute;
        right: 13px;
        height: 2px;
        width: 15px;
        background-color: white;
      }
    }
  }
  
  &__info {
    width: 100%;
    font-size: 13.6px;
    text-align: center;
    color: $textColor75;
  }
}