mixin pagination(props)
  - const { current = 1, total = 5 } = props

  .pagination
    .pagination__items
      each i in [0,1,2,3,4,5]
        if i == 0
          .pagination__item.pagination__item_active=current+i
        else if i == 3
          .pagination__item="\u2026"
        else if i == 4
          .pagination__item.pagination__item_available=total
        else if i == 5
          .pagination__item.pagination__item_available.pagination__item_next
        else
          .pagination__item.pagination__item_available=current+i
    .pagination__info 1 – 12 из 100+ вариантов аренды