include __color-item/colors-and-fonts__color-item.pug
include ~Blocks/svg-ui/svg-ui.pug

mixin colors-and-fonts(colors)
  .colors-and-fonts
    +svg-ui()
    .colors-and-fonts__grid
      .colors-and-fonts__col
        each item in colors
          - const { color = '#1F2041', opacity = '1', description = 'Color' } = item
          +colors-and-fonts__color-item(color, description, opacity)
      .colors-and-fonts__column
        .colors-and-fonts__text-item
          h1.colors-and-fonts__text-description.colors-and-fonts__text-description-h1 H1
          h1.colors-and-fonts__text-example.colors-and-fonts__text-example-h1 This one is the sub-section or widget title
        .colors-and-fonts__text-item
          h2.colors-and-fonts__text-description.colors-and-fonts__text-description-h2 H2
          h2.colors-and-fonts__text-example.colors-and-fonts__text-example-h2 Next one is the item title inside widgets
        .colors-and-fonts__text-item
          h3.colors-and-fonts__text-description.colors-and-fonts__text-description-h3 H3
          h3.colors-and-fonts__text-example.colors-and-fonts__text-example-h3 This is a label or CTA text
        .colors-and-fonts__text-item
          p.colors-and-fonts__text-description.colors-and-fonts__text-description-paragraph Body
          p.colors-and-fonts__text-example.colors-and-fonts__text-example-paragraph.colors-and-fonts__text-example_limited
            |This is the body text which is used for most
            |of the design, like paragraphs, lists, etc.