include __color-item/colors-and-fonts__color-item.pug
include ~Blocks/svg-UI/svg-UI.pug

mixin colors-and-fonts()
  .colors-and-fonts
    +svg-UI()
    .container
      .colors-and-fonts__grid
        .colors-and-fonts__col
          +colors-and-fonts__color-item("#1F2041", "Dark Shade 100%", "1")
          +colors-and-fonts__color-item("#1F2041", "Dark Shade 75%", "0.75")
          +colors-and-fonts__color-item("#1F2041", "Dark Shade 50%", "0.5")
          +colors-and-fonts__color-item("#1F2041", "Dark Shade 25%", "0.25")
          +colors-and-fonts__color-item("#1F2041", "Dark Shade 5%", "0.05")
          +colors-and-fonts__color-item("#BC9CFF", "Purple", "1")
          +colors-and-fonts__color-item("#6FCF97", "Green", "1")
        .colors-and-fonts__column
          .colors-and-fonts__text-item
            h1.colors-and-fonts__text-description H1
            h1.colors-and-fonts__text-example This one is the sub-section or widget title
          .colors-and-fonts__text-item
            h2.colors-and-fonts__text-description H2
            h2.colors-and-fonts__text-example Next one is the item title inside widgets
          .colors-and-fonts__text-item
            label.colors-and-fonts__text-description H3
            label.colors-and-fonts__text-example This is a label or CTA text
          .colors-and-fonts__text-item
            p.colors-and-fonts__text-description Body
            p.colors-and-fonts__text-example.colors-and-fonts__text-example_limited
              |This is the body text which is used for most
              |of the design, like paragraphs, lists, etc.