include __color-item/colors-and-fonts__color-item.pug
include ~Blocks/svg-UI/svg-UI.pug

mixin colors-and-fonts(colors)
  .colors-and-fonts
    +svg-UI()
    .container
      .colors-and-fonts__grid
        .colors-and-fonts__col
          each item in colors
            - const { color = '#1F2041', opacity = '1', description = 'Color' } = item
            +colors-and-fonts__color-item(color, description, opacity)
        .colors-and-fonts__column
          .colors-and-fonts__text-item
            h1.colors-and-fonts__text-description H1
            h1.colors-and-fonts__text-example This one is the sub-section or widget title
          .colors-and-fonts__text-item
            h2.colors-and-fonts__text-description H2
            h2.colors-and-fonts__text-example Next one is the item title inside widgets
          .colors-and-fonts__text-item
            label.colors-and-fonts__text-description H3
            label.colors-and-fonts__text-example This is a label or CTA text
          .colors-and-fonts__text-item
            p.colors-and-fonts__text-description Body
            p.colors-and-fonts__text-example.colors-and-fonts__text-example_limited
              |This is the body text which is used for most
              |of the design, like paragraphs, lists, etc.