extends ~Root/layouts/base.pug

include ~Blocks/search-filter/search-filter.pug
include ~Blocks/searched-rooms/searched-rooms.pug

block variables
  - let title = "Поиск номеров"

block content
  - const rooms = require("./search-room.json")
  .search-page.container
    +search-filter()
    +searched-rooms(rooms)
