extends ~Root/layouts/base.pug

include ~Blocks/search-room-page/search-room-page.pug

block variables
  - let title = "Поиск номеров"

block content
  - const rooms = require("./search-room.json")
  +search-room-page(rooms)
