footer.footer-mobile
    .footer-mobile__copyrights
        .footer-mobile__logo
            +logo()
        .footer-mobile__text
            p Copyright © 2018 Toxin отель. Все права защищены.
        .footer-mobile__socials
            +socialReference("#twitter", "twitter")
            +socialReference("#facebook", "facebook")
            +socialReference("#instagram", "instagram")