header
    .container
        .header
            .header__section
                .header__item
                    img(src="./assets/images/LogoImg.svg", alt="TOXIN", height="54px")
                .header__name
                    img(src="./assets/images/LogoName.svg", alt="TOXIN", height="18px")
            .header__section
                +link("#about", "О нас")
                +link("#office", "Услуги")
                +link("#vacancies", "Вакансии")
                +link("#news", "Новости")
                +link("#deals", "Соглашения")
            //- написать логику для вывода ФИО вошедшего, либо предлагать авторизоваться, если анонимный пользователь
            .header__section
                .header__item
                    button ВОЙТИ
                .header__item
                    button ЗАРЕГИСТРИРОВАТЬСЯ
