header
    .container
        .header
            .header__description
                .logo
                    .logo__img
                        img(src="./assets/images/LogoImg.svg", alt="TOXIN")
                    .logo__name
                        img(src="./assets/images/LogoName.svg", alt="TOXIN")
                .header__burger
                    span
            .header__section
                +link("#about", "О\xA0нас")
                //- Неразрывный пробел JS \xA0
                +link("#office", "Услуги", true)
                +link("#vacancies", "Вакансии")
                +link("#news", "Новости")
                +link("#deals", "Соглашения", true)
                if isAuthorized
                    .header__item
                        .header__user Пользователь
                else
                    //- .header__item
                    //-     a.header__login Войти
                    +button("#", "Войти", "header__item", "ghost-button")
                    +button("#", "Зарегистрироваться", "header__item")
            //- написать логику для вывода ФИО вошедшего, либо предлагать авторизоваться, если анонимный пользователь
