html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="x-ua-compatible" content="IE=edge")
    link(rel='apple-touch-icon' sizes='180x180' href='./assets/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./assets/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./assets/favicons/favicon-16x16.png')
    link(rel='manifest' href='./assets/favicons/site.webmanifest')
    link(rel='mask-icon' href='./assets/favicons/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#603cba')
    meta(name='theme-color' content='#ffffff')
    title= "UI Kit"
  body
    include colors-and-fonts/__color-item/colors-and-fonts__color-item.pug
    include ~Blocks/svg-UI/svg-UI.pug
    include ~Blocks/header/header.pug
    include ~Blocks/footer/footer.pug
    include ~Blocks/footer/_mobile/footer_mobile.pug
    include ~Blocks/dropdown-absolute/dropdown-absolute.pug
    include ~Blocks/date-solo/date-solo.pug
    include ~Blocks/twin-datepick/twin-datepick.pug
    include ~Blocks/date-solo-range/date-solo-range.pug
    include ~Blocks/form-subscribe/form-subscribe.pug
    include ~Blocks/checkbox/checkbox.pug
    include ~Blocks/radio-button/radio-button.pug
    include ~Blocks/toggle-button/toggle-button.pug
    include ~Blocks/like-button/like-button.pug
    include ~Blocks/rate-result/rate-result.pug
    include ~Blocks/rate-button/rate-button.pug
    include ~Blocks/range-slider/range-slider.pug
    include ~Blocks/button/button.pug
    include ~Blocks/pagination/pagination.pug
    include ~Blocks/dropdown-relative/dropdown-relative.pug
    include ~Blocks/bullet-list/bullet-list.pug
    include ~Blocks/room-privilege/room-privilege.pug
    include ~Blocks/comment/comment.pug
    include ~Blocks/landing-card/landing-card.pug
    include ~Blocks/register-card/register-card.pug
    include ~Blocks/total-card/total-card.pug
    include ~Blocks/login-card/login-card.pug
    include ~Blocks/opened-datepick/opened-datepick.pug
    include ~Blocks/room-card/room-card.pug

    .uikit
      article.colors-and-fonts
        +svg-UI()
        .container
          .colors-and-fonts__grid
            .colors-and-fonts__col
              +colors-and-fonts__color-item("#1F2041", "Dark Shade 100%", "1")
              +colors-and-fonts__color-item("#1F2041", "Dark Shade 75%", "0.75")
              +colors-and-fonts__color-item("#1F2041", "Dark Shade 50%", "0.5")
              +colors-and-fonts__color-item("#1F2041", "Dark Shade 25%", "0.25")
              +colors-and-fonts__color-item("#1F2041", "Dark Shade 5%", "0.05")
              +colors-and-fonts__color-item("#BC9CFF", "Purple", "1")
              +colors-and-fonts__color-item("#6FCF97", "Green", "1")
            .colors-and-fonts__column
              .colors-and-fonts__text-item
                h1.colors-and-fonts__text-description H1
                h1.colors-and-fonts__text-example This one is the sub-section or widget title
              .colors-and-fonts__text-item
                h2.colors-and-fonts__text-description H2
                h2.colors-and-fonts__text-example Next one is the item title inside widgets
              .colors-and-fonts__text-item
                label.colors-and-fonts__text-description H3
                label.colors-and-fonts__text-example This is a label or CTA text
              .colors-and-fonts__text-item
                p.colors-and-fonts__text-description Body
                p.colors-and-fonts__text-example.colors-and-fonts__text-example_limited
                  |This is the body text which is used for most
                  |of the design, like paragraphs, lists, etc.
      article.cards
        +svg-UI()
        .container
          .cards__grid
            .cards__col
              .cards__cell
                +landing-card()
              .cards__cell
                +register-card()
            .cards__col
              .cards__cell
                +total-card(888, true, 9900)
              .cards__cell
                +login-card()
            .cards__col
              .cards__cell
                +opened-datepick()
              .cards__rooms
                .cards__cell
                  +room-card({
                    "reference": "room.html",
                    "images": [
                      "assets/images/rooms/room-888.jpg",
                      "assets/images/rooms/room-840.jpg",
                      "assets/images/rooms/room-888.jpg",
                      "assets/images/rooms/room-840.jpg"
                    ],
                    "number": 888,
                    "isLux": true,
                    "cost": 9990,
                    "rating": 5,
                    "reviews": 145
                  })
                .cards__cell
                  +room-card({
                    "reference": "room.html",
                    "images": [
                      "assets/images/rooms/room-840.jpg",
                      "assets/images/rooms/room-980.jpg",
                      "assets/images/rooms/room-888.jpg",
                      "assets/images/rooms/room-444.jpg"
                    ],
                    "number": 840,
                    "isLux": false,
                    "cost": 9990,
                    "rating": 4,
                    "reviews": 65
                  })
      article.form-elements
        +svg-UI()
        .container
          .form-elements__grid
            .form-elements__div1
              .form-elements__wrapper_medium
                label.form-elements__label text field
                .form-elements__promt default
                input.form-elements__input(type="text", name="textfield1", placeholder="Email")
              .form-elements__wrapper_medium
                label.form-elements__label text field
                .form-elements__promt hover / focus
                input.form-elements__input(type="text", name="textfield2", value="This is pretty awesome", class="hover-focus")
              .form-elements__wrapper_medium
                label.form-elements__label dropdown
                +dropdown-absolute({
                  wordforms: ["гость", "гостя", "гостей"],
                  items: ["Взрослые", "Дети", "Младенцы"],
                  isOpen: false,
                  defaultText: "Сколько гостей"
                })
              .form-elements__wrapper_large
                label.form-elements__label masked text field
                +date-solo()
              .form-elements__wrapper_large
                +twin-datepick("date dropdown", "date dropdown")
              .form-elements__wrapper_large
                label.form-elements__label Filter date dropdown
                +date-solo-range()
              .form-elements__wrapper_large
                label.form-elements__label subscription text field
                +form-subscribe()
            .form-elements__div2
              .form-elements__checkboxes
                label.form-elements__label_large Checkbox buttons
                +checkbox({
                  content: "Можно курить",
                  addedClasses: "form-elements__checkbox"
                })
                +checkbox({
                  content: "Можно с питомцами",
                  isChecked: true,
                  addedClasses: "form-elements__checkbox"
                })
                +checkbox({
                  content: "Можно пригласить гостей (до 10 человек)",
                  isChecked: true,
                  addedClasses: "form-elements__checkbox"
                })
              .form-elements__wrapper
                label.form-elements__label_medium Radio buttons
                .form-elements__radio
                  +radio-button({
                    content: "Мужчина",
                    name: "sexRegistration",
                    isChecked: true,
                    addedClasses: "register-card__radio"
                  })
                  +radio-button({
                    content: "Женщина",
                    name: "sexRegistration",
                    addedClasses: "register-card__radio"
                  })
              .form-elements__wrapper_huge
                label.form-elements__label_large Toggle
                +toggle-button("Получать спецпредложения", true, "form-elements__wrapper_small")
                +toggle-button("Получать спецпредложения", false, "form-elements__wrapper_small")
              .form-elements__wrapper_large
                label.form-elements__label_large Like button
                .form-elements__likes
                  .form-elements__like
                    +like-button(2, false)
                  .form-elements__like
                    +like-button(12, true)
              .form-elements__wrapper_large
                label.form-elements__label_large Rate button
                .form-elements__rates
                  .form-elements__rate
                    +rate-button("rating", 4)
                  .form-elements__rate
                    +rate-result(5)
            .form-elements__div3
              .form-elements__wrapper_huge
                +range-slider({
                  minValue: 0,
                  maxValue: 15000,
                  value1: 5000,
                  value2: 10000,
                  step: 100,
                  sliderType: "double"
                })
              .form-elements__wrapper_large
                label.form-elements__wrapper_medium buttons
                .form-elements__buttons
                  .form-elements__button.form-elements__wrapper_large
                    +button({
                      reference: "#",
                      content: "click me"
                    })
                  .form-elements__button.form-elements__wrapper_large
                    +button({
                      reference: "#",
                      content: "click me"
                    })
                  .form-elements__button
                    +button({
                      reference: "#",
                      content: "click me",
                      modificator: "ghost-button"
                    })
                  .form-elements__button
                    +button({
                      reference: "#",
                      content: "click me",
                      modificator: "ghost-button"
                    })
                  .form-elements__button
                    +button({
                      reference: "#",
                      content: "click me",
                      modificator: "skeleton-button"
                    })
                  .form-elements__button
                    +button({
                      reference: "#",
                      content: "click me",
                      modificator: "skeleton-button"
                    })
                +button({
                  reference: "#",
                  content: "перейти к оплате",
                  addedClasses: "form-elements__wrapper_large",
                  modificator: "send-button"
                })
                label.form-elements__label_large pagination
                +pagination(1, 15)
            .form-elements__div4
              .form-elements__wrapper_medium
                label.form-elements__label Dropdown
                .form-elements__promt default
                +dropdown-absolute({
                  wordforms: [
                    ["спальня", "спальни", "спален"],
                    ["кровать", "кровати", "кроватей"],
                    ["ванная комната", "ванные комнаты", "ванных комнат"]
                  ],
                  defaultValues: [2, 2, 0]
                })
              .form-elements__wrapper_medium
                label.form-elements__label Dropdown
                .form-elements__promt expanded
                +dropdown-absolute({
                  wordforms: [
                    ["спальня", "спальни", "спален"],
                    ["кровать", "кровати", "кроватей"],
                    ["ванная комната", "ванные комнаты", "ванных комнат"]
                  ],
                  defaultValues: [2, 2, 0],
                  isOpen: true
                })
            .form-elements__div5
              label.form-elements__label Dropdown
              +dropdown-absolute({
                  wordforms: ["гость", "гостя", "гостей"],
                  items: ["Взрослые", "Дети", "Младенцы"],
                  isOpen: true,
                  defaultText: "Сколько гостей"
                })
            .form-elements__div6
              label.form-elements__label Dropdown
              +dropdown-absolute({
                wordforms: ["гость", "гостя", "гостей"],
                items: ["Взрослые", "Дети", "Младенцы"],
                isOpen: true,
                defaultText: "Сколько гостей",
                defaultValues: [2, 1, 0]
              })
            .form-elements__div7
              .form-elements__wrapper
                +dropdown-relative({
                  content: "Expandable checkbox list",
                  checkboxes: [
                      "Завтрак",
                      ["Письменный стол", true],
                      ["Стул для кормления", true],
                      ["Кроватка", true],
                      "Телевизор",
                      "Шампунь",
                      "Телевизор",
                      "Шампунь",
                    ]
                })
              +dropdown-relative({
                content: "Expandable checkbox list",
                checkboxes: [
                  "Завтрак",
                  ["Письменный стол", true],
                  ["Стул для кормления", true],
                  ["Кроватка", true],
                  "Телевизор",
                  "Шампунь",
                  "Телевизор",
                  "Шампунь",
                ],
                isOpen: true
              })
            .form-elements__div8
              label.form-elements__label_large Rich checkbox buttons
              .form-elements__wrapper_small
                +checkbox({
                  content: "Широкий коридор",
                  description: "Ширина коридоров в номере не\xA0менее 91 см."
                })
              .form-elements__wrapper_small
                +checkbox({
                  content: "Помощник для инвалидов",
                  description: "На 1 этаже вас встретит специалист и проводит до номера."
                })
            .form-elements__div9
              label.form-elements__label_medium Bullet list
              +bullet-list({
                bullets: [
                  "Нельзя с питомцами",
                  "Без вечеринок и мероприятий",
                  "Время прибытия — после\xa013:00, а выезд до\xa012:00"
                ]
              })
            .form-elements__div10
              +room-privilege({
                image: "assets/images/privilege-comfort.svg",
                title: "Комфорт",
                addedClasses: "form-elements__privilege",
                description: "Шумопоглощающие стены"
              })
              +room-privilege({
                image: "assets/images/privilege-convenience.svg",
                title: "Удобство",
                addedClasses: "form-elements__privilege",
                description: "Окно в каждой из спален"
              })
            .form-elements__div11
              +comment({
                image: "assets/images/users_images/marat-123.jpg",
                username: "Мурад Сарафанов",
                date: "5 дней назад",
                likes: 12,
                isLiked: true,
                addedClasses: "form-elements__comment",
                content: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
              })
      article.headers-and-footers
        +svg-UI()
        .headers-and-footers__item
          +header(false)
        .headers-and-footers__item
          +header(true)
        +footer()
        +footer_mobile()
