html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="x-ua-compatible" content="IE=edge")
    link(rel='apple-touch-icon' sizes='180x180' href='/assets/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/assets/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/assets/favicons/favicon-16x16.png')
    link(rel='manifest' href='/assets/favicons/site.webmanifest')
    link(rel='mask-icon' href='/assets/favicons/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#603cba')
    meta(name='theme-color' content='#ffffff')
    title= "UI Kit"
  body
    include ../../blocks/header/header.pug
    include ../../blocks/footer/footer.pug
    include ../../blocks/footer/_mobile/footer_mobile.pug
    include ../../blocks/dropdown-absolute/dropdown-absolute.pug
    include ../../blocks/date-solo/date-solo.pug
    include ../../blocks/twin-datepick/twin-datepick.pug
    include ../../blocks/date-solo-range/date-solo-range.pug
    include ../../blocks/form-subscribe/form-subscribe.pug
    include ../../blocks/checkbox/checkbox.pug
    include ../../blocks/radio-button/radio-button.pug
    include ../../blocks/toggle-button/toggle-button.pug
    include ../../blocks/like-button/like-button.pug
    include ../../blocks/rate-result/rate-result.pug
    include ../../blocks/rate-button/rate-button.pug
    include ../../blocks/range-slider/range-slider.pug
    include ../../blocks/button/button.pug
    include ../../blocks/pagination/pagination.pug
    include ../../blocks/dropdown-relative/dropdown-relative.pug
    include ../../blocks/bullet-list/bullet-list.pug
    include ../../blocks/room-privilege/room-privilege.pug
    include ../../blocks/comment/comment.pug
    include ../../blocks/landing-card/landing-card.pug
    include ../../blocks/register-card/register-card.pug
    include ../../blocks/total-card/total-card.pug
    include ../../blocks/login-card/login-card.pug
    include ../../blocks/opened-datepick/opened-datepick.pug
    include ../../blocks/room-card/room-card.pug

    mixin svgUI()
      svg(width="108" height="108" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding:30px;")
        path(d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill="#1F2041" fill-opacity="0.25")
        path(d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill="#1F2041" fill-opacity="0.25")
        path(d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25")
    
    mixin color-itemUI(color, name, opacity)
      .colors-and-fonts__color-item
        .colors-and-fonts__color-example(style="background-color: " + color + "; opacity: " + opacity + ";")
        .colors-and-fonts__color-description
          h2=name
          p=color

    .uikit
      article.colors-and-fonts
        +svgUI()
        .container
          .colors-and-fonts__grid
            .colors-and-fonts__col
              +color-itemUI("#1F2041", "Dark Shade 100%", "1")
              +color-itemUI("#1F2041", "Dark Shade 75%", "0.75")
              +color-itemUI("#1F2041", "Dark Shade 50%", "0.5")
              +color-itemUI("#1F2041", "Dark Shade 25%", "0.25")
              +color-itemUI("#1F2041", "Dark Shade 5%", "0.05")
              +color-itemUI("#BC9CFF", "Purple", "1")
              +color-itemUI("#6FCF97", "Green", "1")
            .colors-and-fonts__column
              .colors-and-fonts__text-item
                h1.colors-and-fonts__text-description H1
                h1 This one is the sub-section or widget title
              .colors-and-fonts__text-item
                h2.colors-and-fonts__text-description H2
                h2 Next one is the item title inside widgets
              .colors-and-fonts__text-item
                label.colors-and-fonts__text-description H3
                label This is a label or CTA text
              .colors-and-fonts__text-item
                p.colors-and-fonts__text-description Body
                p
                  |This is the body text which is used for most
                  br
                  |of the design, like paragraphs, lists, etc.
      article.cards
          +svgUI()
          .container
            .cards__grid
              .cards__col
                .cards__cell
                  +landing-card()
                .cards__cell
                  +register-card()
              .cards__col
                .cards__cell
                  +total-card(888, true, 9900)
                .cards__cell
                  +login-card()
              .cards__col
                .cards__cell
                  +opened-datepick()
                .cards__rooms
                  .cards__cell
                    +room-card({
                      "reference": "room.html",
                      "images": [
                        "assets/images/rooms/room-888.jpg",
                        "assets/images/rooms/room-840.jpg",
                        "assets/images/rooms/room-888.jpg",
                        "assets/images/rooms/room-840.jpg"
                      ],
                      "number": 888,
                      "isLux": true,
                      "cost": 9990,
                      "rating": 5,
                      "reviews": 145
                    })
                  .cards__cell
                    +room-card({
                      "reference": "room.html",
                      "images": [
                        "assets/images/rooms/room-840.jpg",
                        "assets/images/rooms/room-980.jpg",
                        "assets/images/rooms/room-888.jpg",
                        "assets/images/rooms/room-444.jpg"
                      ],
                      "number": 840,
                      "isLux": false,
                      "cost": 9990,
                      "rating": 4,
                      "reviews": 65
                    })
      article.form-elements
        +svgUI()
        .container
          .form-elements__grid
            .form-elements__div1
              .form-elements__mb-20
                label.form-elements__mb-5 text field
                .form-elements__promt default
                input(type="text", name="textfield1", placeholder="Email")
              .form-elements__mb-20
                label.form-elements__mb-5 text field
                .form-elements__promt hover / focus
                input(type="text", name="textfield2", value="This is pretty awesome", class="hover-focus")
              .form-elements__mb-20
                label.form-elements__mb-5 dropdown
                +dropdown-absolute({
                  wordforms: ["гость", "гостя", "гостей"],
                  items: ["Взрослые", "Дети", "Младенцы"],
                  isOpen: false,
                  defaultText: "Сколько гостей"
                })
              .form-elements__mb-40
                label.form-elements__mb-5 masked text field
                +date-solo()
              .form-elements__mb-40
                +twin-datepick("date dropdown", "date dropdown")
              .form-elements__mb-40
                label.form-elements__mb-5 Filter date dropdown
                +date-solo-range()
              .form-elements__mb-40
                label.form-elements__mb-5 subscription text field
                +form-subscribe()
            .form-elements__div2
              .form-elements__mb-27
                label.form-elements__mb-17 Checkbox buttons
                +checkbox({
                  content: "Можно курить",
                  addedClasses: "form-elements__mb-10"
                })
                +checkbox({
                  content: "Можно с питомцами",
                  isChecked: true,
                  addedClasses: "form-elements__mb-10"
                })
                +checkbox({
                  content: "Можно пригласить гостей (до 10 человек)",
                  isChecked: true,
                  addedClasses: "form-elements__mb-10"
                })
              .form-elements__mb-35
                label.form-elements__mb-15 Radio buttons
                .form-elements__radio
                  +radio-button({
                    content: "Мужчина",
                    name: "sexRegistration",
                    isChecked: true,
                    addedClasses: "register-card__radio"
                  })
                  +radio-button({
                    content: "Женщина",
                    name: "sexRegistration",
                    addedClasses: "register-card__radio"
                  })
              .form-elements__mb-45
                label.form-elements__mb-17 Toggle
                +toggle-button("Получать спецпредложения", true, "form-elements__mb-12")
                +toggle-button("Получать спецпредложения", false, "form-elements__mb-12")
              .form-elements__mb-40
                label.form-elements__mb-17 Like button
                .form-elements__likes
                  .form-elements__like
                    +like-button(2, false)
                  .form-elements__like
                    +like-button(12, true)
              .form-elements__mb-40
                label.form-elements__mb-17 Rate button
                .form-elements__rates
                  .form-elements__rate
                    +rate-button("rating", 4)
                  .form-elements__rate
                    +rate-result(5)
            .form-elements__div3
              .form-elements__mb-45
                +range-slider({
                  minValue: 0,
                  maxValue: 15000,
                  value1: 5000,
                  value2: 10000,
                  step: 100,
                  sliderType: "double"
                })
              .form-elements__mb-40
                label.form-elements__mb-20 buttons
                .form-elements__buttons.form-elements__mb-32
                  .form-elements__button.form-elements__mb-40
                    +button({
                      reference: "#",
                      content: "click me"
                    })
                  .form-elements__button.form-elements__mb-40
                    +button({
                      reference: "#",
                      content: "click me"
                    })
                  .form-elements__button.form-elements__mb-32
                    +button({
                      reference: "#",
                      content: "click me",
                      modificator: "ghost-button"
                    })
                  .form-elements__button.form-elements__mb-32
                    +button({
                      reference: "#",
                      content: "click me",
                      modificator: "ghost-button"
                    })
                  .form-elements__button
                    +button({
                      reference: "#",
                      content: "click me",
                      modificator: "skeleton-button"
                    })
                  .form-elements__button
                    +button({
                      reference: "#",
                      content: "click me",
                      modificator: "skeleton-button"
                    })
                +button({
                  reference: "#",
                  content: "перейти к оплате",
                  addedClasses: "form-elements__mb-40",
                  modificator: "send-button"
                })
                label.form-elements__mb-17 pagination
                +pagination(1, 15)
            .form-elements__div4
              .form-elements__mb-20
                label.form-elements__mb-5 Dropdown
                .form-elements__promt default
                +dropdown-absolute({
                  wordforms: [
                    ["спальня", "спальни", "спален"],
                    ["кровать", "кровати", "кроватей"],
                    ["ванная комната", "ванные комнаты", "ванных комнат"]
                  ],
                  defaultValues: [2, 2, 0]
                })
              .form-elements__mb-20
                label.form-elements__mb-5 Dropdown
                .form-elements__promt expanded
                +dropdown-absolute({
                  wordforms: [
                    ["спальня", "спальни", "спален"],
                    ["кровать", "кровати", "кроватей"],
                    ["ванная комната", "ванные комнаты", "ванных комнат"]
                  ],
                  defaultValues: [2, 2, 0],
                  isOpen: true
                })
            .form-elements__div5
              label.form-elements__mb-5 Dropdown
              +dropdown-absolute({
                  wordforms: ["гость", "гостя", "гостей"],
                  items: ["Взрослые", "Дети", "Младенцы"],
                  isOpen: true,
                  defaultText: "Сколько гостей"
                })
            .form-elements__div6
              label.form-elements__mb-5 Dropdown
              +dropdown-absolute({
                wordforms: ["гость", "гостя", "гостей"],
                items: ["Взрослые", "Дети", "Младенцы"],
                isOpen: true,
                defaultText: "Сколько гостей",
                defaultValues: [2, 1, 0]
              })
            .form-elements__div7
              .form-elements__mb-35
                +dropdown-relative({
                  content: "Expandable checkbox list",
                  checkboxes: [
                      "Завтрак",
                      ["Письменный стол", true],
                      ["Стул для кормления", true],
                      ["Кроватка", true],
                      "Телевизор",
                      "Шампунь",
                      "Телевизор",
                      "Шампунь",
                    ]
                })
              +dropdown-relative({
                content: "Expandable checkbox list",
                checkboxes: [
                  "Завтрак",
                  ["Письменный стол", true],
                  ["Стул для кормления", true],
                  ["Кроватка", true],
                  "Телевизор",
                  "Шампунь",
                  "Телевизор",
                  "Шампунь",
                ],
                isOpen: true
              })
            .form-elements__div8
              label.form-elements__mb-17 Rich checkbox buttons
              .form-elements__mb-12
                +checkbox({
                  content: "Широкий коридор",
                  description: "Ширина коридоров в номере не\xA0менее 91 см."
                })
              .form-elements__mb-12
                +checkbox({
                  content: "Помощник для инвалидов",
                  description: "На 1 этаже вас встретит специалист и проводит до номера."
                })
            .form-elements__div9
              label.form-elements__mb-15 Bullet list
              +bullet-list({
                title: "",
                bullets: [
                  "Нельзя с питомцами",
                  "Без вечеринок и мероприятий",
                  "Время прибытия — после\xa013:00, а выезд до\xa012:00"
                ]
              })
            .form-elements__div10
              +room-privilege({
                image: "assets/images/privilege_comfort.svg",
                title: "Комфорт",
                addedClasses: "form-elements__privilege",
                description: "Шумопоглощающие стены"
              })
              +room-privilege({
                image: "assets/images/privilege_convenience.svg",
                title: "Удобство",
                addedClasses: "form-elements__privilege",
                description: "Окно в каждой из спален"
              })
            .form-elements__div11
              +comment({
                image: "assets/images/users_images/marat-123.jpg",
                username: "Мурад Сарафанов",
                date: "5 дней назад",
                likes: 12,
                isLiked: true,
                addedClasses: "form-elements__comment",
                content: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
              })
      article.headers-and-footers
        +svgUI()
        .headers-and-footers__item
          +header(false)
        .headers-and-footers__item
          +header(true)
        +footer()
        +footer_mobile()
