include ~Blocks/svg-UI/svg-UI.pug
include ~Blocks/header/header.pug
include ~Blocks/footer/footer.pug
include ~Blocks/footer/_mobile/footer_mobile.pug

mixin headers-and-footers()
  .headers-and-footers
    +svg-UI()
    .headers-and-footers__item
      +header(false)
    .headers-and-footers__item
      +header(true)
    +footer()
    +footer_mobile()