include ~Blocks/comment/comment.pug

mixin comments(items)
  .comments
    .comments__header
      h2.comments__title Отзывы посетителей номера
      .comments__counter=`${items.length} отзыва`
    .comments__body
      each item in items
        .comments__item
          +comment(item)