include ~Blocks/comment/comment.pug

mixin comments(props)
  - const { comments, reviews = 'отзыва' } = props;

  .comments.js-comments
    .comments__header
      h2.comments__title Отзывы посетителей номера
      .comments__counter=`${comments.length} ${reviews}`
    .comments__body
      each item in comments
        .comments__item
          +comment(item)