include ~Blocks/logo/logo.pug
include ~Blocks/project-navigation/project-navigation.pug

mixin navigation-page(list)
  .container.navigation
    .navigation__logo
      +logo()
    h1.navigation__header Список доступных страниц
    +project-navigation(list)