mixin social-reference(reference, name, addedClasses="")
  .social-reference(class=`${addedClasses}`)
    a.social-reference__link(href=reference)
      img.social-reference__img(src=`./assets/images/${name}-logo.svg`, alt=name, height="22px", width="22px")