mixin social-reference(reference, name, addedClasses="")
  .social-reference(class=`${addedClasses}`)
    a(href=reference)
      img(src=`./assets/images/${name}Logo.svg`, alt=name, height="22px", width="22px")