@import 'Root/style-variables.scss';

.checkbox {
  max-width: 225px;
  position: relative;
  user-select: none;

  &__label {
    font-weight: normal;
    text-transform: none;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    z-index: -1;
    width: 0;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 0.85rem;
    line-height: 1.25rem;
    letter-spacing: 0.3px;
    color: $darkShade50;

    &::before {
      $side: 18px;
      content: '';
      flex-shrink: 0;
      width: $side;
      height: $side;
      border: 1px solid $darkShade25;
      border-radius: 5px;
      margin-right: 10px;
    }

    &::after {
      display: none;
      position: absolute;
      content: '';
      left: 7px;
      top: 4px;
      height: 7px;
      width: 5px;
      border: 2px solid transparent;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      border-image: $gradientColor;
      border-image-slice: 1;
    }

    &_extended {
      font-weight: bold;
      color: $darkShade75;
    }
  }

  &__input:checked + &__content {
    &::before {
      border-color: $purple;
    }

    &::after {
      display: block;
    }
  }

  &__description {
    margin-top: 1px;
    margin-left: 30px;
    color: $darkShade50;
    font-size: 0.75rem;
    letter-spacing: 0px;
  }

  &_extended {
    max-width: 255px;
  }
}