@import 'Root/style-variables.scss';

.room-cost {
  display: flex;
  align-items: flex-end;

  &__rubles {
    @include h3();

    font-size: 13.6px;
    color: $darkShade50;
    padding-right: 3px;
  }
  
  &__period {
    font-size: 12px;
    color: $darkShade50;
  }
}