mixin twin-datepick(label1, label2)
  .twin-datepick.js-twin-datepick
    .twin-datepick__item
      h3.twin-datepick__label=label1
      .twin-datepick__output.js-twin-datepick__output_arrival
        input.twin-datepick__input.js-twin-datepick__input(
          type="text", placeholder="ДД.ММ.ГГГГ", name="dateArrival", readonly
        )
    .twin-datepick__item
      h3.twin-datepick__label=label2
      .twin-datepick__output.js-twin-datepick__output_departure
        input.twin-datepick__input.js-twin-datepick__input(
          type="text", placeholder="ДД.ММ.ГГГГ", name="dateDeparture", readonly
        )