@import 'Root/style-variables.scss';

$mediaSize: 420px;

.twin-datepick {
  display: flex;
  justify-content: space-between;

  &__item {
    max-width: 151px;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @media(max-width: $mediaSize) {
      max-width: 100%;
      margin: 0;
    }
  }

  &__output {
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      top: 45%;
      right: 18px;
      $side: 7px;
      height: $side;
      width: $side;
      transform: translateY(-50%) rotate(45deg);
      border: 2px solid $darkShade50;
      border-top: 0;
      border-left: 0;
    }
  }

  &__input {
    cursor: pointer;
    padding-right: 40px;
  }

  &__label {
    padding-bottom: 5px;

    @media(max-width: $mediaSize) {
      padding-top: 5px;
    }
  }
  
  @media(max-width: $mediaSize) {
    display: block;
  }
}