$mediaSize: 420px;

.twin-datepick {
  display: flex;
  justify-content: space-between;

  &__item {
    max-width: 151px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 57%;
      right: 18px;
      $side: 7px;
      height: $side;
      width: $side;
      transform: rotate(45deg);
      border: 2px solid $darkShade50;
      border-top: 0;
      border-left: 0;
    }

    @media(max-width: $mediaSize) {
      max-width: 100%;

      .twin-datepick__label {
        padding-top: 5px;
      }
    }
  }

  &__input {
    cursor: pointer;
  }

  &__label {
    padding-bottom: 5px;
  }
  
  @media(max-width: $mediaSize) {
    display: block;
  }
}