.date-solo-range {
  position: relative;
  max-width: 268px;

  &::before {
    $side: 7px;
    position: absolute;
    content: '';
    bottom: 46%;
    right: 18px;
    height: $side;
    width: $side;
    transform: rotate(45deg);
    border: 2px solid #1F20417F;
    border-top: 0;
    border-left: 0;
  }
}