.searched-rooms {
  &__header {
    margin-bottom: 22px;
  }

  &__room-cards {
    display: grid;
    grid-gap: 20px 10px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    margin-bottom: 41px;

    @media(max-width:400px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  
  &__pagination {
    display: flex;
    justify-content: center;
    margin-right: 13px;
  }
}