.rate-button {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 120px;
  vertical-align: bottom;

  &__input {
    margin: 0;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
    border: none;
    background-image: url('./images/star-disabled.svg');
    background-size: 24px auto;
    background-repeat: repeat-x;
    cursor: pointer;

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        width: 20% * $i;
        z-index: 6 - $i;
      }
    }

    &:checked, &:hover {
      background-image: url('./images/star-active.svg');
    }
    
    &:hover ~ & {
      background-image: url('./images/star-disabled.svg');
    }
  }
}