@import 'Root/style-variables.scss';

.radio-button {
  position: relative;
  cursor: pointer;
  user-select: none;

  &__input {
    position: absolute;
    z-index: -1;
    width: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    font-weight: normal;
    text-transform: none;
    font-size: 0.85rem;
    letter-spacing: 0.3px;
    color: $darkShade50;
    $sideBorder: 18px;
    $borderWidth: 2px;

    &::before {
      content: '';
      display: inline-block;
      flex-shrink: 0;
      width: $sideBorder;
      height: $sideBorder;
      border: $borderWidth solid $darkShade25;
      border-radius: 50%;
      margin-right: 10px;
    }

    &::after {
      $side: 12px;
      display: none;
      position: absolute;
      content: '';
      transform: translate(-50%, -50%);
      left: $sideBorder / 2 + $borderWidth;
      top: $sideBorder / 2 + $borderWidth;
      height: $side;
      width: $side;
      background: $gradientColor;
      border-radius: 50%;
    }
  }

  &__input:checked + &__content {
    color: $darkShade75;

    &::before {
      border-color: $purple;
    }
    
    &::after {
      display: block;
    }
  }
}