@import 'Root/style-variables.scss';

.radio-button {
  position: relative;
  cursor: pointer;
  user-select: none;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0;
  }

  &__content {
    $sideBorder: 20px;
    $borderWidth: 1px;

    display: flex;
    align-items: center;
    font-weight: normal;
    text-transform: none;
    font-size: 0.85rem;
    letter-spacing: 0.3px;
    color: $darkShade50;

    &::before {
      box-sizing: border-box;
      content: '';
      flex-shrink: 0;
      width: $sideBorder;
      height: $sideBorder;
      border: $borderWidth solid $darkShade25;
      border-radius: 50%;
      margin-right: 10px;
    }

    &::after {
      $side: 12px;

      display: none;
      position: absolute;
      content: '';
      transform: translate(-50%, -50%);
      left: $sideBorder / 2;
      top: 50%;
      height: $side;
      width: $side;
      background: $primaryGradient;
      border-radius: 50%;
    }
  }

  &__input:checked + &__content {
    color: $darkShade75;

    &::before {
      border-color: $primaryColor;
    }
    
    &::after {
      display: block;
    }
  }
}