mixin free-cancel(addedClasses="")
  .free-cancel(class=`${addedClasses}`)
    h3.free-cancel__title Отмена
    p.free-cancel__content Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.