include ~Blocks/svg-UI/svg-UI.pug
include ~Blocks/landing-card/landing-card.pug
include ~Blocks/register-card/register-card.pug
include ~Blocks/total-card/total-card.pug
include ~Blocks/login-card/login-card.pug
include ~Blocks/opened-datepick/opened-datepick.pug
include ~Blocks/room-card/room-card.pug

mixin cards(props)
  - const { landingCard, registerCard, totalCard, loginCard, roomCards } = props;

  .cards
    +svg-UI()
    .cards__grid
      .cards__col
        .cards__cell
          +landing-card(landingCard)
        .cards__cell
          +register-card(registerCard)
      .cards__col
        .cards__cell
          +total-card(totalCard)
        .cards__cell
          +login-card(loginCard)
      .cards__col
        .cards__cell
          +opened-datepick()
        .cards__rooms
          each roomCard in roomCards
            .cards__cell
              +room-card(roomCard)