extends ~Root/layouts/base.pug

include ~Blocks/registration-page/registration-page.pug

block variables
  - const title = "Регистрация"

block content
  +registration-page({
    registerCard: {
      radioButtons: [
        {
          content: "Мужчина",
          name: "sexRegistrationForm",
          isChecked: true,
        },
        {
          content: "Женщина",
          name: "sexRegistrationForm",
        },
      ],
      toggleButton: { content: "Получать спецпредложения" },
      buttonSend: {
        content: "Зарегистрироваться",
        modificators: ["theme_directed", "transform_high"]
      },
      buttonHelp: {
        reference: "login.html",
        content: "Войти",
        modificators: ["theme_bordered", "transform_high", "transform_wide"]
      },
    },
  })
  