.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 683px;
  background: url('./static/images/background-sign-in.jpg') no-repeat;
  background-size: cover;
  background-position: 0 79%;
}