extends ~Root/layouts/base.pug

include ~Blocks/registration-page/registration-page.pug

block variables
  - const title = "Регистрация"

block content
  +registration-page({
    registerCard: {
      radioButtons: [
        {
          content: "Мужчина",
          name: "sexRegistrationForm",
          isChecked: true,
        },
        {
          content: "Женщина",
          name: "sexRegistrationForm",
        },
      ],
      toggleButton: { content: "Получать спецпредложения" },
      buttonSend: {
        content: "Зарегистрироваться",
        theme: "directed",
        transforms: ["high"],
        justify: "stretch",
      },
      buttonHelp: {
        reference: "login.html",
        content: "Войти",
        theme: "bordered",
        transforms: ["high", "wide"],
      },
    },
  })
  