.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 683px;
  background: url('../static/images/backgroundSignIn.jpg') no-repeat;
  background-size: cover;
  background-position: 0 78%;
}