mixin dropdown-absolute__counter(defVal, key)
  .dropdown-absolute__counter-element
    .dropdown-absolute__minus -
    .dropdown-absolute__counter=defVal ? defVal[key] : 0
    .dropdown-absolute__plus +