mixin dropdown-absolute__counter(defVal)
  .dropdown-absolute__counter-element
    .dropdown-absolute__minus.js-dropdown-absolute__minus -
    .dropdown-absolute__counter.js-dropdown-absolute__counter=defVal
    .dropdown-absolute__plus.js-dropdown-absolute__plus +