@import 'Source/style-variables.scss';

.room-number {
  display: flex;
  align-items: flex-end;

  &__prefix {
    @include h3();

    font-size: 13.6px;
    padding-right: 5px;
  }

  &__value {
    @include h2();

    padding-right: 9px;
    font-size: 20px;
    line-height: 20px;
  }
  
  &__lux {
    @include h3();

    color: $primaryColor;
  }
}
