.landing {
  background: url('../static/images/background.jpg') no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  height: 830px;
  color: #1F2041;
  &__wrapper {
    height: 100%;
    padding-top: 70px;
    position: relative;
  }
  &__slogan {
    position: absolute;
    right: 15px;
    bottom: 20px;
    text-align: right;
    line-height: 1.5rem;
    color: $DarkShade75;
  }
}