extends ~Root/layouts/base.pug

include ~Blocks/room-page/room-page.pug

block variables
  - let title = "Отель \"TOXIN\" №888"

block content
  - const commentaries = require('./comments.json')
  +room-page({
    commentaries,
    images: [
      "assets/images/rooms/room-888-1.jpg",
      "assets/images/rooms/room-888-2.jpg",
      "assets/images/rooms/room-888-3.jpg",
    ],
    privileges: [
      {
        image: "assets/images/privilege-comfort.svg",
        title: "Комфорт",
        addedClasses: "room__privilege",
        description: "Шумопоглощающие стены",
      },
      {
        image: "assets/images/privilege-convenience.svg",
        title: "Удобство",
        addedClasses: "room__privilege",
        description: "Окно в каждой из спален",
      },
      {
        image: "assets/images/privilege-fireplace.svg",
        title: "Уют",
        addedClasses: "room__privilege",
        description: "Номер оснащен камином",
      }
    ],
    votes: {
      total: 260,
      precents: [50, 25, 25, 0],
    },
    room: {
      number: 888,
      isLux: true,
      cost: 9900,
    },
    rules: [
      "Нельзя с питомцами",
      "Без вечеринок и мероприятий",
      "Время прибытия — после\xa013:00, а выезд до\xa012:00",
    ],
    freeCancel: true,
  })