extends ../../layouts/base.pug

include ../../blocks/collage/collage.pug
include ../../blocks/room-privilege/room-privilege.pug
include ../../blocks/circle-diagram/circle-diagram.pug
include ../../blocks/total-card/total-card.pug
include ../../blocks/comments/comments.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/free-cancel/free-cancel.pug

block variables
  - let title = "Отель \"TOXIN\" №888"

block content
  - const commentaries = require('./comments.json')
  .room
    +collage([
      "assets/images/rooms/888-1.jpg",
      "assets/images/rooms/888-2.jpg",
      "assets/images/rooms/888-3.jpg"
    ], "room__collage")
    .container.room__body
        .room__about
          h2 Сведения о номере
          +room-privilege({
            image: "assets/images/privilege_comfort.svg",
            title: "Комфорт",
            addedClasses: "room__privilege",
            description: "Шумопоглощающие стены"
          })
          +room-privilege({
            image: "assets/images/privilege_convenience.svg",
            title: "Удобство",
            addedClasses: "room__privilege",
            description: "Окно в каждой из спален"
          })
          +room-privilege({
            image: "assets/images/privilege_fireplace.svg",
            title: "Уют",
            addedClasses: "room__privilege",
            description: "Номер оснащен камином"
          })
        .room__reviews
          h2.room__header Впечатления от номера
          +circle-diagram(260, "голосов", [50, 25, 25, 0])
        +total-card(888, true, 9900, "room__check")
        +comments(commentaries, "room__comments")
        +bullet-list({
          title: "Правила",
          addedClasses: "room__rules",
          bullets: [
            "Нельзя с питомцами",
            "Без вечеринок и мероприятий",
            "Время прибытия — после\xa013:00, а выезд до\xa012:00"
          ]
        })
        +free-cancel("room__cancel")