extends ../../layouts/base.pug

include ../../blocks/collage/collage.pug
include ../../blocks/room-privilege/room-privilege.pug
include ../../blocks/circle-diagram/circle-diagram.pug
include ../../blocks/total-card/total-card.pug
include ../../blocks/comments/comments.pug

block variables
  - let title = "Отель \"TOXIN\" №888"

block content
  - const commentaries = require('./comments.json')
  .room
    +collage([
      "assets/images/rooms/888-1.jpg",
      "assets/images/rooms/888-2.jpg",
      "assets/images/rooms/888-3.jpg"
    ], "room__collage")
    .container.room__body
        .room__about
          h3 Сведения о номере
          +room-privilege({
            image: "assets/images/privilege_comfort.svg",
            title: "Комфорт",
            addedClasses: "room__privilege",
            description: "Шумопоглощающие стены"
          })
          +room-privilege({
            image: "assets/images/privilege_convenience.svg",
            title: "Удобство",
            addedClasses: "room__privilege",
            description: "Окно в каждой из спален"
          })
          +room-privilege({
            image: "assets/images/privilege_fireplace.svg",
            title: "Уют",
            addedClasses: "room__privilege",
            description: "Номер оснащен камином"
          })
        .room__reviews
          h3.room__header Впечатления от номера
          +circle-diagram(260, "голосов", [50, 25, 25, 0])
        +total-card(888, true, 9900, "room__check")
        +comments(commentaries, "room__comments")
//-         .rules
//-           h2.rules__header Правила
//-           +bulletList(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после\xa013:00, а выезд до\xa012:00"])
//-         .cancel
//-           h2 Отмена
//-           p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.