extends ~Root/layouts/base.pug

include ~Blocks/room-page/room-page.pug

block variables
  - const title = "Отель \"TOXIN\" №888"

block content
  - const commentaries = require('./comments.json')

  +room-page({
    commentaries: {
      comments: commentaries,
    },
    images: [
      "public/images/rooms/room-888-1.jpg",
      "public/images/rooms/room-888-2.jpg",
      "public/images/rooms/room-888-3.jpg",
    ],
    privileges: [
      {
        image: "assets/images/privilege-comfort.svg",
        title: "Комфорт",
        description: "Шумопоглощающие стены",
      },
      {
        image: "assets/images/privilege-convenience.svg",
        title: "Удобство",
        description: "Окно в каждой из спален",
      },
      {
        image: "assets/images/privilege-fireplace.svg",
        title: "Уют",
        description: "Номер оснащен камином",
      }
    ],
    circleDiagram: {
      count: 260,
      value: [50, 25, 25, 0],
    },
    totalCard: {
      number: 888,
      isLux: true,
      cost: 9990,
      days: 4,
      daysForm: "суток",
      twinDatepick: {
        field1: "Прибытие",
        field2: "Выезд",
      },
      dropdownAbsolute: {
        wordforms: [
          ["гость", "гостя", "гостей"],
          ["гость", "гостя", "гостей"],
          ["младенец", "младенца", "младенцев"],
        ],
        items: ["Взрослые", "Дети", "Младенцы"],
        isOpen: false,
        defaultText: "Сколько гостей",
        isButtons: true,
      },
      positions: [
        {
          content: "Сбор за услуги:\xa0скидка 2\xa0179₽",
          tooltip: "Всплывающая подсказка",
          cost: 0,
          discont: 2179,
        },
        {
          content: "Сбор за дополнительные услуги",
          tooltip: "Всплывающая подсказка",
          cost: 300,
        }
      ],
      button: {
        content: "Забронировать",
        theme: "directed",
        transforms: ["high"],
        justify: "stretch",
      },
    },
    rules: [
      "Нельзя с питомцами",
      "Без вечеринок и мероприятий",
      "Время прибытия — после\xa013:00, а выезд до\xa012:00",
    ],
    freeCancel: true,
  })