$mediaSizeLarge: 1200px;
$mediaSizeSmall: 800px;

.room {
  &__collage {
    margin-bottom: 70px;
  }

  &__body {
    width: 100%;
    display: grid;
    margin-bottom: 62px;
    grid-template-columns: 31% 36.2% 32.8%;
    grid-template-rows: minmax(303px, auto);
    grid-auto-flow: dense;

    @media(max-width: $mediaSizeLarge) {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: auto;
      justify-items: center;
      grid-row-gap: 30px;
    }

    @media(max-width: $mediaSizeSmall) {
      grid-template-columns: 100%;
      grid-row-gap: 50px;
    }
  }

  &__privilege {
    padding: 20px 4px;

    &:first-child {
      padding-top: 2px;
    }

    &:last-child {
      padding-bottom: 2px;
    }
  }

  &__header {
    margin-bottom: 18px;

    @media(max-width: $mediaSizeLarge) {
      text-align: center;
    }
  }

  &__bullet-header {
    margin-left: 20px;
  }

  &__check {
    grid-row: span 2;
  }

  &__comments {
    grid-column: span 2;
    margin-bottom: 8px;
    
    @media(max-width: $mediaSizeSmall) {
      grid-column: auto;
    }
  }
}