include ../logo/logo.pug
include ../form-subscribe/form-subscribe.pug
include ../social-reference/social-reference.pug

mixin ref-item(reference, name)
  li.footer__item
    a(href=reference)=name

mixin footer()
  .footer
    .footer_references.container
      .footer__row
        .footer__column
          .footer__logo
            +logo()
          .footer__text
            p 
            | Бронирование номеров в лучшем 
            br
            | отеле 2019 года по версии
            br
            | ассоциации «Отельные взгляды»
        ul.footer__column 
          .footer__item Навигация
          +ref-item("/plug-link", "О нас")
          +ref-item("/plug-link", "Новости")
          +ref-item("/plug-link", "Служба поддержки")
          +ref-item("/plug-link", "Услуги")
        ul.footer__column 
          .footer__item О&nbsp;нас
          +ref-item("/plug-link", "О сервисе")
          +ref-item("/plug-link", "Наша команда")
          +ref-item("/plug-link", "Вакансии")
          +ref-item("/plug-link", "Инвесторы")
        ul.footer__column
          .footer__item Служба&nbsp;поддержки
          +ref-item("/plug-link", "Соглашения")
          +ref-item("/plug-link", "Сообщества")
          +ref-item("/plug-link", "Связь с нами")
        .footer__column
          .footer__item Подписка
          .footer__text
            p Получайте специальные предложения и новости сервиса
          +form-subscribe()
    .footer__copyrights
      .footer__content.container
        .footer__copyright
          p Copyright © 2018 Toxin отель. Все права защищены.
        .footer__social
          +social-reference("/plug-link", "twitter", "footer__link")
          +social-reference("/plug-link", "facebook", "footer__link")
          +social-reference("/plug-link", "instagram", "footer__link")