@import 'Root/style-variables.scss';

.footer {
  background-color: white;
  border-top: 1px solid $darkShade25;

  &__references {
    @include container();
  }

  &__row {
    display: grid;
    grid-template-columns: 25.8% 17.25% 17.25% 17.25% 1fr;
    padding-top: 100px;
    padding-bottom: 80px;
  }

  &__logo {
    padding-bottom: 18px;
  }

  &__text {
    @include paragraph();

    padding-bottom: 22px;
    color: $darkShade75;
  }

  &__column {
    margin: 0;
    list-style: none;
    padding-left: 0;
    padding-right: 15px;
    letter-spacing: 0.3px;
    line-height: 21.6px;

    &:last-child {
      padding: 0;
    }
  }

  &__item {
    padding-bottom: 17px;

    &:first-child {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0;
      color: $darkShade;
    }
  }

  &__link {
    @include link();

    color: $darkShade50;

    &:hover {
      color: $darkShade75;
    }
  }

  &__copyrights {
    color: $darkShade75;
    border-top: 1px solid $darkShade25;
    letter-spacing: 0.2px;
  }

  &__content {
    @include container();

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 20px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__reference {
    padding-left: 22px;
    padding-top: 2px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 1px;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  @media (max-width:1000px) {
    display: none;
  }
}