include __ref-item/footer__ref-item.pug
include ~Blocks/logo/logo.pug
include ~Blocks/form-subscribe/form-subscribe.pug
include ~Blocks/social-reference/social-reference.pug

mixin footer(props)
  - const { plugLink = '/plug-link', refBlocks = [], socials = [] } = props;

  .footer
    .footer_references.container
      .footer__row
        .footer__column
          .footer__logo
            +logo()
          p.footer__text
            | Бронирование номеров в лучшем
            | отеле 2019 года по версии
            | ассоциации «Отельные взгляды»
        each refBlock in refBlocks
          ul.footer__column 
            .footer__item=refBlock.title
            each reference in refBlock.references
              - const link = reference.link ? reference.link : plugLink;
              +footer__ref-item(link, reference.content)
        .footer__column
          .footer__item Подписка
          p.footer__text Получайте специальные предложения и новости сервиса
          +form-subscribe()
    .footer__copyrights
      .footer__content.container
        .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
        .footer__social
          each social in socials
            .footer__reference
              +social-reference(social)