include __ref-item/footer__ref-item.pug
include ~Blocks/logo/logo.pug
include ~Blocks/form-subscribe/form-subscribe.pug
include ~Blocks/social-reference/social-reference.pug

mixin footer()
  .footer
    .footer_references.container
      .footer__row
        .footer__column
          .footer__logo
            +logo()
          p.footer__text
            | Бронирование номеров в лучшем
            | отеле 2019 года по версии
            | ассоциации «Отельные взгляды»
        ul.footer__column 
          .footer__item Навигация
          +footer__ref-item("/plug-link", "О нас")
          +footer__ref-item("/plug-link", "Новости")
          +footer__ref-item("/plug-link", "Служба поддержки")
          +footer__ref-item("/plug-link", "Услуги")
        ul.footer__column 
          .footer__item О&nbsp;нас
          +footer__ref-item("/plug-link", "О сервисе")
          +footer__ref-item("/plug-link", "Наша команда")
          +footer__ref-item("/plug-link", "Вакансии")
          +footer__ref-item("/plug-link", "Инвесторы")
        ul.footer__column
          .footer__item Служба&nbsp;поддержки
          +footer__ref-item("/plug-link", "Соглашения")
          +footer__ref-item("/plug-link", "Сообщества")
          +footer__ref-item("/plug-link", "Связь с нами")
        .footer__column
          .footer__item Подписка
          p.footer__text Получайте специальные предложения и новости сервиса
          +form-subscribe()
    .footer__copyrights
      .footer__content.container
        p.footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
        .footer__social
          .footer__reference
            +social-reference("/plug-link", "twitter")
          .footer__reference
            +social-reference("/plug-link", "facebook")
          .footer__reference
            +social-reference("/plug-link", "instagram")