@import 'Root/style-variables.scss';

.dropdown-absolute {
  max-width: 326px;
  position: relative;
  user-select: none;
  font-size: 0.75rem;

  &__output {
    cursor: pointer;
    position: relative;

    &::before {
      $side: 7px;
      position: absolute;
      content: '';
      top: 50%;
      right: 18px;
      height: $side;
      width: $side;
      transform: translateY(-70%) rotate(45deg);
      border: 2px solid #1F20417F;
      border-top: 0;
      border-left: 0;
    }

    &::placeholder {
      color: $darkShade75;
    }

    &_active {
      &::before {
        transform: translateY(-30%) rotate(-135deg);
      }
    }
  }

  &__input {
    padding-right: 40px;
    cursor: pointer;
    text-overflow: ellipsis;
  }

  &__list {
    display: none;
    position: absolute;
    padding-bottom: 7px;
    top: 40px;
    z-index: 1;
    width: 100%;
    background-color: white;
    border: 2px solid $darkShade50;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 6px 0 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: $darkShade;
  }

  &__counter-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__counter {
    width: 32px;
    text-align: center;
  }

  &__minus, &__plus {
    height: 30px;
    width: 30px;
    border: 1px solid $darkShade50;
    color: $darkShade50;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: normal;
    cursor: pointer;
    text-align: center;

    &_disabled {
      border: 1px solid $darkShade25;
      color: $darkShade25;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    padding: 21px 7px 5px 15px;
    text-transform: uppercase;

    &_non-empty {
      justify-content: space-between;
    }
  }

  &__clear-btn {
    display: none;
    color: $darkShade50;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }

    &_non-empty {
      display: block;
    }
  }

  &__apply-btn {
    color: $purple;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  &__list_active {
    display: block;
  }
}