extends ../layouts/base.pug

block variables
    -let title = "Landing Page"
    -let isAuthorized = false

block content
    .landing
        .container
            .landing__form
                h1 Найдём номера под ваши пожелания
                form(action="", method="post")
                    .landing__calendar-date
                        .landing__date-item
                            label Прибытие
                            input(type="text", placeholder="ДД.ММ.ГГГГ", class="datepicker-here", name="date-arrival", data-range="true", readonly)
                        .landing__date-item
                            label Выезд
                            input(type="text", placeholder="ДД.ММ.ГГГГ", class="datepicker-here", name="date-departure", data-range="true", readonly)
                    label(for="guests") Гости
                    input(placeholder="Сколько гостей")
                +button("#", "Подобрать номер", "", "send-button")
            .landing__slogan
                p
                |Лучшие номера для вашей работы,
                br
                |отдыха и просто вдохновения