extends ../layouts/base.pug

block variables
    -let title = "Landing Page"
    -let isAuthorized = false

block content
    .landing
        .container
            +landingCard()
            .landing__slogan
                p
                |Лучшие номера для вашей работы,
                br
                |отдыха и просто вдохновения