html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="x-ua-compatible" content="IE=edge")
        link(rel="shortcut icon", href="./assets/favicon.ico", type="image/icon")
        title= "UI Kit"
    body
        include ../mixins/mixin.pug
        .uikit
            section
                +svgUI()
                .uikit__row
                    .uikit__column
                        +color-itemUI("#1F2041", "Dark Shade 100%", "1")
                        +color-itemUI("#1F2041", "Dark Shade 75%", "0.75")
                        +color-itemUI("#1F2041", "Dark Shade 50%", "0.5")
                        +color-itemUI("#1F2041", "Dark Shade 25%", "0.25")
                        +color-itemUI("#1F2041", "Dark Shade 5%", "0.05")
                        +color-itemUI("#BC9CFF", "Purple", "1")
                        +color-itemUI("#6FCF97", "Green", "1")
                    .uikit__column
                        .uikit__text-item
                            h1.uikit__text-description H1
                            h1 
                                |This one is the sub-section or
                                br
                                |widget title
                        .uikit__text-item
                            h2.uikit__text-description H2
                            h2
                                | Next one is the item title inside 
                                br
                                | widgets
                        .uikit__text-item
                            h3.uikit__text-description H3
                            h3 This is a label or CTA text
                        .uikit__text-item
                            p.uikit__text-description Body
                            p 
                                |This is the body text which is used for most
                                br
                                |of the design, like paragraphs, lists, etc.