include ~Blocks/search-filter/search-filter.pug
include ~Blocks/searched-rooms/searched-rooms.pug

mixin search-room-page(props)
  - const { searchedRooms, searchFilter } = props;

  .search-page
    +search-filter(searchFilter)
    +searched-rooms(searchedRooms)