.search-page {
  display: grid;
  grid-template-columns: 23% 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 20px;
  padding-top: 30px;
  margin-bottom: 78px;

  @media(max-width: 1000px) {
    grid-template-columns: 100%;
  }
}