mixin carousel(images)
  .carousel.js-carousel
    each image in images
      .carousel__item.js-carousel__item
        img.carousel__img(src=image.src, alt=image.alt)
    .carousel__buttons
      button.carousel__prev.js-carousel__prev
      button.carousel__next.js-carousel__next
    .carousel__dots
      each image in images
        .carousel__dot.js-carousel__dot