@import '../../style-variables.scss';

.project-navigation {
  &__item {
    font-size: 1.25rem;
    margin: 5px 0;
  }

  &__link {
    color: $darkShade50;

    &:hover {
      color: $purple;
      text-shadow: 0px 0px 3px $green;
    }
  }
}