.project-navigation {
  &__item {
    font-size: 1.25rem;
    margin: 5px 0;
  }

  &__link {
    color: $DarkShade50;

    &:hover {
      color: $Purple;
      text-shadow: 0px 0px 3px $Green;
    }
  }
}