include ../../logo/logo.pug
include ../../social-reference/social-reference.pug

mixin footer_mobile()
  .footer-mobile
    .footer-mobile__copyrights
      .footer-mobile__logo
        +logo()
      .footer-mobile__text
        p Copyright © 2018 Toxin отель. Все права защищены.
      .footer-mobile__socials
        +social-reference("/plug-link", "twitter", "footer-mobile__link")
        +social-reference("/plug-link", "facebook", "footer-mobile__link")
        +social-reference("/plug-link", "instagram", "footer-mobile__link")