@import '../../../style-variables.scss';

.footer-mobile {
  display:none;
  align-items: center;
  justify-content: center;
  background-color:#f4f4f6;
  text-align: center;

  &__copyrights {
    display: inline-block;
    padding-top: 116px;
    padding-bottom: 96px;
    max-width: 768px;
    width: 100%;
    margin: 40px auto;
    background-color: white;
    box-shadow: $shadow;

    @media (max-width:1125px) {
      width: 90%;
    }
  }

  &__logo {
    display: inline-block;
    margin: 4px 0 18px 14px;
  }

  &__text {
    letter-spacing: 0.1px;
  }

  &__socials {
    display: inline-flex;
  }

  &__link {
    margin: 22px 11px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width:1000px) {
    display: flex;
  }
}