include ~Blocks/logo/logo.pug
include ~Blocks/social-reference/social-reference.pug

mixin footer_mobile(props)
  - const { socials = [], plugLink = '/plug-link' } = props;

  .footer-mobile
    .footer-mobile__copyrights
      .footer-mobile__logo
        +logo()
      p.footer-mobile__text Copyright © 2018 Toxin отель. Все права защищены.
      .footer-mobile__socials
        each social in socials
          .footer-mobile__link
            +social-reference(social)