@import 'Root/style-variables.scss';

.footer-mobile {
  display:none;
  text-align: center;

  &__copyrights {
    display: inline-block;
    padding: 116px 20px 96px;
    width: 100%;
    background-color: white;
  }

  &__logo {
    display: inline-block;
    margin: 4px 0 18px 14px;
  }

  &__text {
    letter-spacing: 0.1px;
  }

  &__socials {
    display: inline-flex;
  }

  &__link {
    margin: 22px 11px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width:1000px) {
    display: block;
  }
}