include ~Blocks/svg-ui/svg-ui.pug
include ~Blocks/dropdown-absolute/dropdown-absolute.pug
include ~Blocks/date-solo/date-solo.pug
include ~Blocks/twin-datepick/twin-datepick.pug
include ~Blocks/date-solo-range/date-solo-range.pug
include ~Blocks/form-subscribe/form-subscribe.pug
include ~Blocks/checkbox/checkbox.pug
include ~Blocks/radio-button/radio-button.pug
include ~Blocks/toggle-button/toggle-button.pug
include ~Blocks/like-button/like-button.pug
include ~Blocks/rate-result/rate-result.pug
include ~Blocks/rate-button/rate-button.pug
include ~Blocks/range-slider/range-slider.pug
include ~Blocks/button/button.pug
include ~Blocks/pagination/pagination.pug
include ~Blocks/dropdown-relative/dropdown-relative.pug
include ~Blocks/bullet-list/bullet-list.pug
include ~Blocks/room-privilege/room-privilege.pug
include ~Blocks/comment/comment.pug

mixin form-elements(props)
  -
    const {
      dropdownAbsoluteMain,
      twinDatepick = {},
      checkboxes = [],
      radioButtons = [],
      toggleButtons = [],
      likeButtons = [],
      rateButton,
      rateResult = 5,
      rangeSlider = {},
      buttonsLarge = [],
      buttons = [],
      buttonSend,
      pagination,
      dropdownAbsoluteExtended,
      dropdownAbsoluteExtendedExpand,
      dropdownAbsoluteExpand,
      dropdownAbsoluteExpandFilled,
      dropdownRealtiveWrapped,
      dropdownRealtive,
      checkboxesExtended = [],
      bulletList = [],
      roomPrivileges = [],
      comment,
    } = props;

  .form-elements.js-form-elements
    +svg-ui()
    .form-elements__grid
      .form-elements__inputs-cell
        .form-elements__wrapper_medium
          h3.form-elements__label text field
          .form-elements__prompt default
          input.form-elements__input(type="text", name="textfield1", placeholder="Email")
        .form-elements__wrapper_medium
          h3.form-elements__label text field
          .form-elements__prompt hover / focus
          input.form-elements__input(type="text", name="textfield2", value="This is pretty awesome", class="hover-focus")
        .form-elements__wrapper_medium
          h3.form-elements__label dropdown
          +dropdown-absolute(dropdownAbsoluteMain)
        .form-elements__wrapper_large
          h3.form-elements__label masked text field
          +date-solo()
        .form-elements__wrapper_large
          - const { field1 = "date dropdown", field2 = "date dropdown" } = twinDatepick;
          +twin-datepick(field1, field2)
        .form-elements__wrapper_large
          h3.form-elements__label Filter date dropdown
          +date-solo-range()
        .form-elements__wrapper_large
          h3.form-elements__label subscription text field
          +form-subscribe()
      .form-elements__toggles-cell.js-form-elements__toggles-cell
        .form-elements__checkboxes
          h3.form-elements__label_large Checkbox buttons
          each checkbox in checkboxes
            .form-elements__checkbox
              +checkbox(checkbox)
        .form-elements__wrapper
          h3.form-elements__label_medium Radio buttons
          .form-elements__radios
            each radioButton in radioButtons
              .form-elements__radio
                +radio-button(radioButton)
        .form-elements__wrapper_huge
          h3.form-elements__label_large Toggle
          each toggleButton in toggleButtons
            .form-elements__wrapper_small
              +toggle-button(toggleButton)
        .form-elements__wrapper_large
          h3.form-elements__label_large Like button
          .form-elements__likes
            each likeButton in likeButtons
              .form-elements__like
                +like-button(likeButton)
        .form-elements__wrapper_large
          h3.form-elements__label_large Rate button
          .form-elements__rates
            .form-elements__rate
              +rate-button(rateButton)
            .form-elements__rate
              +rate-result(rateResult)
      .form-elements__buttons-cell
        .form-elements__wrapper_huge
          +range-slider()
        .form-elements__wrapper_large
          h3.form-elements__wrapper_small buttons
          .form-elements__buttons
            each buttonLarge in buttonsLarge
              .form-elements__button
                +button(buttonLarge)
            each button in buttons
              .form-elements__button.form-elements__button-skeleton
                +button(button)
          .form-elements__wrapper_large
            +button(buttonSend)
          h3.form-elements__label_medium pagination
          +pagination(pagination)
      .form-elements__amenities-cell
        .form-elements__wrapper_medium
          h3.form-elements__label Dropdown
          .form-elements__prompt default
          +dropdown-absolute(dropdownAbsoluteExtended)
        .form-elements__wrapper_medium
          h3.form-elements__label Dropdown
          .form-elements__prompt expanded
          +dropdown-absolute(dropdownAbsoluteExtendedExpand)
      .form-elements__guests-cell
        h3.form-elements__label Dropdown
        +dropdown-absolute(dropdownAbsoluteExpand)
      .form-elements__guests-cell
        h3.form-elements__label Dropdown
        +dropdown-absolute(dropdownAbsoluteExpandFilled)
      .form-elements__additional-amenities-cell
        .form-elements__checkboxes
          +dropdown-relative(dropdownRealtiveWrapped)
        +dropdown-relative(dropdownRealtive)
      .form-elements__checkboxes-cell
        h3.form-elements__label_large Rich checkbox buttons
        each checkboxExtended in checkboxesExtended
          .form-elements__checkbox
            +checkbox(checkboxExtended)
      .form-elements__list-cell
        h3.form-elements__label_medium Bullet list
        +bullet-list(bulletList)
      .form-elements__privilleges-cell
        each roomPrivilege in roomPrivileges
          +room-privilege(roomPrivilege)
      .form-elements__comment-cell.js-form-elements__comment-cell
        .form-elements__comment
          +comment(comment)