@import 'Root/style-variables.scss';

.form-elements {
  &__grid {
    display: grid;
    grid-template-columns: 38.5% 33.85% 27.65%;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 31px 0;
  }

  &__div1 {
    max-width: 322px;
    min-height: 733px;
  }

  &__div2 {
    max-width: 265px;
  }

  &__div4 {
    max-width: 265px;
    min-height: 320px;
  }

  &__div5 {
    max-width: 322px;
  }

  &__div7 {
    max-width: 270px;
    min-height: 368px;
  }

  &__div10 {
    min-height: 260px;
  }

  &__div11 {
    max-width: 710px;
    grid-column: span 2;
  }

  &__promt {
    font-size: 0.75rem;
    float: right;
    text-transform: uppercase;
    line-height: 0.85rem;
    color: $darkShade50;
    letter-spacing: -0.2px;
  }

  &__rate {
    display: inline-block;
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__comment {
    margin-top: 11px;
  }

  &__privilege {
    padding-left: 4px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__buttons {
    width: 265px;
  }

  &__button {
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 30px;
    
    &-skeleton {
      margin-right: 17px;
    }
  }

  &__like {
    display: inline-block;
    margin: 0 4px;
  }

  &__label {
    margin-bottom: 5px;

    &_medium {
      margin-bottom: 15px;
    }

    &_large {
      margin-bottom: 17px;
    }
  }

  &__wrapper {
    margin-bottom: 35px;

    &_small {
      margin-bottom: 12px;
    }

    &_medium {
      margin-bottom: 20px;
    }

    &_large {
      margin-bottom: 40px;
    }

    &_huge {
      margin-bottom: 45px;
    }
  }

  &__checkboxes {
    margin-bottom: 27px;
  }

  &__checkbox {
    margin-bottom: 10px;
  }
}