@import 'Root/style-variables.scss';

.form-elements {
  &__grid {
    @include container();

    display: grid;
    grid-template-columns: 38.5% 33.85% 27.65%;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 31px;
    padding-bottom: 31px;
  }

  &__div1 {
    max-width: 322px;
    min-height: 733px;
  }

  &__div2 {
    max-width: 265px;
  }

  &__div4 {
    max-width: 265px;
    min-height: 320px;
  }

  &__div5 {
    max-width: 322px;
  }

  &__div7 {
    max-width: 266px;
    min-height: 368px;
  }

  &__div10 {
    min-height: 260px;
  }

  &__div11 {
    max-width: 710px;
    grid-column: span 2;
  }

  &__input {
    @include input();
  }

  &__prompt {
    font-size: 12px;
    float: right;
    text-transform: uppercase;
    line-height: 13.6px;
    color: $darkShade50;
    letter-spacing: -0.2px;
  }

  &__rate {
    display: inline-block;
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__comment {
    margin-top: 11px;
    margin-left: 1px;
  }

  &__privilege {
    padding-left: 4px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__buttons {
    width: 265px;
  }

  &__button {
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 30px;
    
    &-skeleton {
      margin-right: 17px;
    }
  }

  &__like {
    display: inline-block;
    margin: 0 4px;
  }

  &__label {
    @include h3();

    margin-bottom: 5px;

    &_medium {
      @include h3();

      margin-bottom: 15px;
    }

    &_large {
      @include h3();

      margin-bottom: 17px;
    }
  }

  &__wrapper {
    margin-bottom: 37px;

    &_small {
      @include h3();

      display: block;
      margin-bottom: 12px;
    }

    &_medium {
      margin-bottom: 20px;
    }

    &_large {
      margin-bottom: 40px;
    }

    &_huge {
      margin-bottom: 45px;
    }
  }

  &__checkboxes {
    margin-bottom: 37px;
  }

  &__checkbox {
    margin-bottom: 7px;
  }

  &__radio {
    display: inline-block;
    margin-right: 16px;
  }
}