.room-privilege {
  display: flex;
  align-items: center;
  max-width: 280px;
  border-bottom: 1px solid $darkShade10;

  &:last-child {
    border: none;
  }

  &__content {
    padding-left: 14px;
  }
  
  &__title, &__description {
    color: $darkShade75;
    text-transform: none;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
}