@import 'Root/style-variables.scss';

.room-privilege {
  display: flex;
  align-items: center;
  max-width: 280px;
  padding: 20px 4px;
  border-bottom: 1px solid $darkShade10;

  &:first-child {
    padding-top: 2px;
  }

  &:last-child {
    padding-bottom: 2px;
    border: none;
  }

  &__content {
    padding-left: 14px;
  }
  
  &__title, &__description {
    color: $darkShade75;
    text-transform: none;
    font-size: 0.85rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
  }
}