@import 'Root/style-variables.scss';

.room-privilege {
  display: flex;
  align-items: center;
  max-width: 280px;
  padding: 20px 4px;
  border-bottom: 1px solid $textColor10;

  &:first-child {
    padding-top: 2px;
  }

  &:last-child {
    padding-bottom: 2px;
    border: none;
  }

  &__content {
    padding-left: 14px;
  }

  &__title {
    @include h3();
  }
  
  &__title, &__description {
    color: $textColor75;
    text-transform: none;
    font-size: 13.6px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
}