mixin collage(images)
  .collage
    each image, i in images
      if !(i % 3)
        img.collage__img.collage__img_main(src=image.src, alt=image.alt)
      else
        img.collage__img.collage__img_minor(src=image.src, alt=image.alt)