@import 'Source/style-variables.scss';

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 683px;
  background: url('./images/background-sign-in.jpg') no-repeat;
  background-size: cover;
  background-position: 0 79%;

  @media (max-width: $mediaSizeLaptop) {
    padding: 50px 0;
  }
}