@import 'Root/style-variables.scss';

.comment {
  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
  }

  &__image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__username {
    @include h3();

    font-size: 13.6px;
    letter-spacing: 0.3px;
    text-transform: none;
    margin-bottom: 10px;
  }

  &__body {
    display: flex;
  }

  &__like {
    margin-right: 10px;
    padding: 2px 5px;
  }

  &__content {
    @include paragraph();

    letter-spacing: 0.25px;
    line-height: 24px;
  }
}