@import 'Source/style-variables.scss';

.room-card {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: $primaryShadow;

  &__description {
    @include link();

    display: block;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px 13px 20px;
  }

  &__spacer {
    display: block;
    border-top: 1px solid $textColor25;
    width: 86%;
    margin: 0 auto;
  }

  &__rating {
    padding: 8px 20px 19px 22px;
    display: flex;
    justify-content: space-between;
  }

  &__reviews {
    display: flex;
    align-items: center;
  }

  &__count {
    @include h3();
  }
  
  &__count, &__postfix {
    color: $textColor50;
    font-size: 13.6px;
  }
}