include ~Blocks/carousel/carousel.pug
include ~Blocks/rate-result/rate-result.pug
include ~Blocks/room-number/room-number.pug
include ~Blocks/room-cost/room-cost.pug

mixin room-card(props)
  -
    const {
      reference,
      images,
      number = 0,
      isLux = false,
      cost = 0,
      rating = 0,
      reviews = 0
    } = props;

  .room-card
    .room-card__carousel
      +carousel(images)
    a.room-card__description(href=reference)
      .room-card__header
        +room-number(number, isLux)
        +room-cost(cost)
      .room-card__spacer
      .room-card__rating
        +rate-result(rating)
        .room-card__reviews
          label.room-card__count=reviews
          p.room-card__postfix &nbsp;Отзывов