@import '../../style-variables.scss';

.room-card {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: $shadow;
  
  &__carousel { 
    height: 150px;
  }

  &__description { 
    height: 120px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 18px 16px 13px 20px;
  }

  &__spacer {
    display: block;
    height: 1px;
    background-color: $darkShade25;
    width: 86%;
    margin: 0 auto;
  }

  &__rating {
    padding: 8px 20px 20px 22px;
    display: flex;
    justify-content: space-between;
  }

  &__reviews {
    display: flex;
    align-items: center;
  }
  
  &__count, &__postfix {
    color: $darkShade50;
    font-size: 0.85rem;
  }
}