.room-card {
  height: 100%;
  width: 270px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: $shadow;
  &__carousel { 
    height: 150px;
  }
  &__description { 
    height: 120px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 18px 16px 13px 20px;
  }
  &__number, &__cost {
    display: flex;
    align-items: flex-end;
  }  
  &__prefix {
    font-size: 0.85rem;
    padding-right: 5px;
  }
  &__value {
    padding-right: 9px;
    font-size: 1.35rem;
    line-height: 1.5rem;
  }
  &__lux {
    color: $Purple;
  }
  &__rubles {
    font-size: 0.85rem;
    color: $DarkShade50;
    padding-right: 3px;
  }
  &__period {
    font-size: 0.75rem;
    color: $DarkShade50;
  }
  &__spacer {
    display: block;
    height: 1px;
    background-color: $DarkShade25;
    width: 86%;
    margin: 0 auto;
  }
  &__rating {
    padding: 10px 20px 20px 22px;
    display: flex;
    justify-content: space-between;
  }
  &__reviews {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
  }
  &__count, &__postfix {
    color: $DarkShade50;
  }
}