include ../carousel/carousel.pug
include ../rate-result/rate-result.pug
include ../room-number/room-number.pug
include ../room-cost/room-cost.pug

mixin room-card(props)
  - var { reference, images, number, isLux, cost, rating, reviews } = props
  .room-card
    .room-card__carousel
      +carousel(images)
    a.room-card__description(href=reference)
      .room-card__header
        +room-number(number, isLux)
        +room-cost(cost)
      .room-card__spacer
      .room-card__rating
        +rateresult(number + "__rate", rating)
        .room-card__reviews
          label.room-card__count=reviews
          p.room-card__postfix &nbsp;Отзывов