@import 'Source/style-variables.scss';

.landing {
  background: url('./images/background.jpg') no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  min-height: 830px;
  color: #1F2041;

  &__wrapper {
    @include container();

    min-height: inherit;
    padding-top: 70px;
    position: relative;
  }
  
  &__slogan {
    max-width: 260px;
    line-height: 24px;
    position: absolute;
    right: 15px;
    bottom: 20px;
    text-align: right;
    color: $textColor75;
  }
}