include ~Blocks/landing-card/landing-card.pug

mixin landing-page(props)
  - const { landingCard } = props;

  .landing
    .landing__wrapper.container
      +landing-card(landingCard)
      .landing__slogan
        |Лучшие номера для вашей работы,
        |отдыха и просто вдохновения