include ~Blocks/landing-card/landing-card.pug

mixin landing-page()
  .landing
    .landing__wrapper.container
      +landing-card()
      p.landing__slogan
        |Лучшие номера для вашей работы,
        |отдыха и просто вдохновения