include ~Blocks/checkbox/checkbox.pug

mixin dropdown-relative(props)
  - const { content="Dropdown relative", isOpen=false, checkboxes=[] } = props
  .dropdown-relative.js-dropdown-relative(class= isOpen ? "dropdown-relative_active" : "")
    label.dropdown-relative__content.js-dropdown-relative__content(
      class= isOpen ? "dropdown-relative__content_active" : ""
    )=content
    .dropdown-relative__list.js-dropdown-relative__list(
      class= isOpen ? "dropdown-relative__list_active" : ""
    )
      each i in checkboxes
        if typeof i === "string"
          .dropdown-relative__item
            +checkbox({ content: i })
        else
          .dropdown-relative__item
            +checkbox({
              content: i[0],
              isChecked: i[1],
            })