@import 'Root/style-variables.scss';

.dropdown-relative {
  max-width: 350px;
  position: relative;
  cursor: pointer;
  user-select: none;

  &__content {
    margin-right: 40px;
    margin-bottom: 12px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      height: 7px;
      width: 7px;
      border: 2px solid $darkShade50;
      border-top: none;
      border-left: none;
      right: 17px;
      top: 2px;
      transform: rotate(45deg);
      transition: 0.3s;
    }
  }

  &__list {
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }

  &__item {
    display: block;
    margin-top: 6px;
    margin-bottom: 10.3px;
  }

  &_active {
    .dropdown-relative {
      &__content {
        &::before {
          transform: rotate(225deg);
          top: 5px;
        }
      }

      &__list {
        max-height: 300px;
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
          width: 0;
          background: transparent;
        }
      }
    }
  }
}