include ../checkbox/checkbox.pug

//- @param {object} with properties
//- content - {string} dropdowns title
//- isOpen - {boolean} by default false
//- checkboxes - {Array<string>} array content for included checkboxes
mixin dropdown-relative(props)
  - let { content="Dropdown relative", isOpen=false, checkboxes=[] } = props
  .dropdown-relative
    label.dropdown-relative__content(class= isOpen ? "active" : "")=content
    .dropdown-relative__list
      each i in checkboxes
        if typeof i === "string"
          +checkbox({
            content: i,
            addedClasses: "dropdown-relative__item"
          })
        else
          +checkbox({
            content: i[0],
            isChecked: i[1],
            addedClasses: "dropdown-relative__item"
          })