@import 'Root/style-variables.scss';

.login-card {
  background-color: white;
  max-width: 380px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: $cardShadow;

  &__header {
    padding-top: 11px;
    padding-bottom: 19px;
  }

  &__fields {
    margin-bottom: 10px;
  }

  &__field {
    margin-bottom: 10px;
  }

  &__send {
    margin-bottom: 30px;
  }

  &__help {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    line-height: 23.2px;
  }
}