$mediaSize: 1000px;

.login {
  background: url('Root/static/images/background-sign-in.jpg') no-repeat;
  background-size: cover;
  min-height: 683px;
  background-position: 0 79%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mediaSize) {
    min-height: 500px;
  }
}