include ~Blocks/date-solo-range/date-solo-range.pug
include ~Blocks/dropdown-absolute/dropdown-absolute.pug
include ~Blocks/dropdown-relative/dropdown-relative.pug
include ~Blocks/range-slider/range-slider.pug
include ~Blocks/checkbox/checkbox.pug

mixin search-filter(props)
  -
    const {
      dropdownAbsoluteFirst,
      rangeSlider,
      checkboxes = [],
      checkboxesExtended = [],
      dropdownAbsoluteSecond,
      dropdownRelative,
    } = props;

  form.search-filter.js-search-filter
    .search-filter__section
      .search-filter__group
        h3.search-filter__label Даты пребывания в отеле
        +date-solo-range()
      .search-filter__group
        h3.search-filter__label Гости
        +dropdown-absolute(dropdownAbsoluteFirst)
      .search-filter__range-group
        .search-filter__range
          +range-slider()
        .search-filter__description Стоимость за сутки пребывания в номере
    .search-filter__section
      .search-filter__checkboxes
        h3.search-filter__checkboxes-label Правила дома
        each checkbox in checkboxes
          .search-filter__checkbox
            +checkbox(checkbox)
      .search-filter__checkboxes
        h3.search-filter__checkboxes-label Доступность
        each checkboxExtended in checkboxesExtended
          .search-filter__checkbox
            +checkbox(checkboxExtended)
    .search-filter__section
      .search-filter__group
        h3.search-filter__label Удобства номера
        .search-filter__group_large
          +dropdown-absolute(dropdownAbsoluteSecond)
        +dropdown-relative(dropdownRelative)