.search-filter {
  &__section {
    max-width: 265px;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__group {
    margin-bottom: 18.5px;

    &_large {
      margin-bottom: 30px;
    }
  }

  &__range-group {
    padding-top: 13px;
    margin-bottom: 24px;
  }

  &__range {
    margin-bottom: 8px;
  }

  &__description {
    font-size: 0.75rem;
    line-height: 1.45rem;
    letter-spacing: 0;
  }

  &__checkboxes {
    margin-bottom: 28px;

    &-label {
      display: block;
      margin-bottom: 17px;
    }
  }

  &__checkbox {
    margin-bottom: 7px;
  }
  
  @media(max-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    justify-items: center;
    grid-gap: 30px;
  }
}