.rate-result {
  display: inline-flex;
  width: 120px;
  height: 24px;
  vertical-align: bottom;
  user-select: none;

  &__star {
    display: inline-block;
    height: 100%;
    width: 20%;
    flex-shrink: 0;
    background-image: url('./images/star-disabled.svg');;

    &_active {
      background-image: url('./images/star-active.svg');
    }
  }
}