@font-face {
  font-family: 'Montserrat';
  src:local('Montserrat Bold'), local('Montserrat-Bold'),
  url('/public/fonts/montserrat-bold/montserrat-bold.woff2') format('woff2'),
    url('/public/fonts/montserrat-bold/montserrat-bold.woff') format('woff');
  font-weight : bold;
  font-style  : normal;
}

@font-face {
  font-family: 'Montserrat';
  src:local('Montserrat Regular'), local('Montserrat-Regular'),
  url('/public/fonts/montserrat-regular/montserrat-regular.woff2') format('woff2'),
    url('/public/fonts/montserrat-regular/montserrat-regular.woff') format('woff');
  font-weight : normal;
  font-style  : normal;
}
