$containerWidth: 1200px;
$headerPadding: 18px;

$darkShade: #1F2041;
$darkShade75: rgba($darkShade, 0.75);
$darkShade50: rgba($darkShade, 0.50);
$darkShade25: rgba($darkShade, 0.25);
$darkShade10: rgba($darkShade, 0.10);
$darkShade05: rgba($darkShade, 0.05);

$primaryColor: #BC9CFF;
$secondaryColor: #6FCF97;
$complementaryColor: #66D2EA;

$primaryShadow: 0px 10px 20px $darkShade05;
$cardShadow: 0px 0px 25px $darkShade25;

$primaryGradient: linear-gradient(to top, #8BA4F9, $primaryColor);
$primaryGradientTranslucent: linear-gradient(to top, rgba(#8BA4F9, .5), rgba($primaryColor, .5));
$secondaryGradient: linear-gradient(to top, $complementaryColor, $secondaryColor);

$primaryFont: 'Montserrat', 'Arial', 'sans-serif';

@mixin container() {
  max-width: $containerWidth;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin h1() {
  font-family: $primaryFont;
  font-weight: bold;
  font-size: 24px;
  line-height: 29.6px;
  letter-spacing: 0;
}

@mixin h2() {
  font-family: $primaryFont;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.6px;
}

@mixin h3() {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0px;
}

@mixin paragraph() {
  color: $darkShade75;
  line-height: 23.2px;
}