@font-face {
  font-family: 'OpenSans';
  src:url('../fonts/OpenSansBold.ttf') format('truetype'),
    url('../fonts/OpenSansBold.woff') format('woff'),
    url('../fonts/OpenSansBold.svg') format('svg');
  font-weight : bold;
  font-style  : normal;
}
@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/MontserratBold.ttf') format('truetype'),
    url('../fonts/MontserratBold.woff') format('woff'),
    url('../fonts/MontserratBold.svg') format('svg');
  font-weight : bold;
  font-style  : normal;
}
@font-face {
  font-family: 'Montserrat';
  src:url('../fonts/MontserratRegular.ttf') format('truetype'),
    url('../fonts/MontserratRegular.woff') format('woff'),
    url('../fonts/MontserratRegular.svg') format('svg');
  font-weight : normal;
  font-style  : normal;
}
