// *********** FOOTER BLOCK ***********

.footer {
    .ref {
        display: grid;
        grid-template-columns: 25.8% 17.25% 17.25% 17.25% 1fr;
        padding-top: 132px;
        padding-bottom: 110px;
        &__column {
            letter-spacing: 0.3px;
            line-height: 33px;
        }        
        &__text {
            color: #1F2041BF;
            padding-bottom: 26px;
        }
        &__item {
            padding-bottom: 17px;
            a {
                color: #1F20417F;
            }
            &:first-child {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0;
                color: #1F2041;
            }
        }
        &__logo {
            padding-bottom: 22px;
        }
    }
    .copyrights {
        border-top: 1px solid #1F20413F;
        .copyrights__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 28px 0;
            .copyrights__copyright {
                font-size: 18.7px;
                letter-spacing: -0.2px;
            }
            .copyrights__social {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .copyrights__link {
                    padding-top: 3px;
                    padding-left: 28px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 4px;
                    }
                }
            }
        }
    }
}
.form {
    display: flex;
    height: 60px;
    border: 2px solid #1F20413F;
    border-radius: 5px;
    input {
        outline: none;
        height: 100%;
        width: 84%;
        border: none;
        padding: 19px 0 20px 17px;
        border-radius: 5px;
        border-right: none;
        font-family: "Montserrat";
        font-size: 19px;
        color: #1F2041;
        & ::placeholder {
            color: #1F20417F;
        }
    }
    &__button {
        outline: none;
        cursor: pointer;
        width: 17%;
        height: 100%;
        border: none;
        background-color: white;
    }
}

.footer-mobile {
    display:none;
    align-items: center;
    justify-content: center;
    background-color:#f4f4f6;
    text-align: center;
    padding: 52px 0;
    &__copyrights {
        display: inline-block;
        padding-top: 155px;
        padding-bottom: 123px;
        width: 1015px;
        margin: 0 auto;
        background-color: white;
        box-shadow: $shadow;
    }
    &__logo {
        display: inline-block;
        padding: 4px 0 28px 14px;
    }
    &__text {
        letter-spacing: 0.1px;
    }
    &__socials {
        display: inline-flex;
        .copyrights__link {
            padding: 33px 14px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}