// *********** HEADER BLOCK ***********

.header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 19px 0;
    background-color: white;
    &__section {
        display: flex;
        align-items: center;
    }
    &__item {
        display: flex;
        padding: 0 14.5px;
        color:$DarkShade50;
        align-items: center;
        letter-spacing: 0.25px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        &:hover {
            color: $DarkShade75;
        }
    }
    &__burger {
        display: none;
        cursor: pointer;
    }
}
.extended {
    padding-right: 47px;
}