.ratebutton {
  display: inline-block;
  margin-right: 22px;
  position: relative;
  cursor: pointer;
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__label {
    font-size: 2.25rem;
    letter-spacing: 0.8px;
    color: $Purple;
    float: right;
    cursor: pointer;
    &::before {
      content: '☆';
    }
  }
  &__label:hover::before,
  &__label:hover~&__label::before,
  &__input:checked~&__label::before {
      content: '★';
  }
}

.bullet-list {
  max-width: 345px;
  &__item {
    position: relative;
    padding-left: 28px;
    padding-bottom: 14px;
    color: $DarkShade75;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 6px;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: $DarkShade25;
    }
  }
}

.twin-datepick {
  display: flex;
  justify-content: space-between;
  &__item {
    width: 200px;
    position: relative;
    input {
      width: 100%; 
      cursor: pointer;
    }
    &::before {
      position: absolute;
      content: '';
      bottom: 50px;
      right: 24px;
      $side: 9px;
      height: $side;
      width: $side;
      transform: rotate(45deg);
      border: 2.5px solid $DarkShade50;
      border-top: 0;
      border-left: 0;
    }
  }
  @media(max-width: 540px) {
    display: block;
    &__item { width: 100%; }
  }
}

.rules {
  &__header {
    margin-bottom: 24px;
    margin-left: 28px;
  }
}

.opened-datepick {.datepicker-inline { display: block;}}