label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    color: $DarkShade;
    letter-spacing: 0px;
}
input {
    outline: none;
    &[type="text"], &[type="email"], &[type="password"] {
        width: 100%;
        height: 59px;
        border: 2px solid $DarkShade25;
        border-radius: 5px;
        padding: 15px 0 19px 19px;
        font-size: 17px;
        font-family: "Montserrat";
        letter-spacing: 0.5px;
        margin-bottom: 22px;
        color: $DarkShade75;
        &::placeholder {
            color: $DarkShade25;
        }
        &:hover, &:focus, &.hover-focus {
            border-color: $DarkShade50;
        }
    }
}
// ********* logo *********
.logo {
    display: flex;
    align-items: center;
    justify-content: start;
    &__img {
        height: 54px;
        padding-right: 16px;
        & img{
            height: inherit;
        }
    }
    &__name {
        padding-right: 16px;
        height: 18px;
        & img{
            height: inherit;
        }
    }
}
// ********* buttons *********
.button {
   display: inline-flex;
   position: relative;
   $height: 55px;
   height: $height;
   background: $gradientColor;
   border-radius: $height / 2;
   color: white;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 15.5px;
   cursor: pointer;
   letter-spacing: 0.2px;
   padding: 0 1.64rem;
}
.button:hover {
    opacity: 0.5;
}
.ghost-button {
    $height: 55px;
    $border: 3px;
    color: #BC9CFF;
    background-clip: padding-box;
    //padding: 0 2rem;
    z-index: 1;
 
    &::before {
       content: "";
       position: absolute;
       top: 0; right: 0; bottom: 0; left: 0;
       z-index: -1;
       margin: $border;
       border-radius: $height / 2;
       background-color: white;
    }
 }
 .ghost-button:hover {
     opacity: 0.50;
     &::before {
         opacity: 1;
     }
 }
 .send-button {
    $height: 58px;
    height: $height;
    width: 422px;
    border-radius: $height / 2;
    &::before {
        content: "";
        position: absolute;
        right: 22px;
        height: 10px;
        width: 10px;
        border: 3px solid white;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
    }
    &::after {
        content: "";
        position: absolute;
        right: 24px;
        height: 3px;
        width: 15px;
        background-color: white;
    }
    @media(max-width: 540px) {
        width: 100%;
        text-align: center;
        &::before, &::after {
            content: none;
        }
    }
 }
 .skeleton-button {
     background: none;
     color: $Purple;
     padding: 0;
     height: auto;
     &:hover {
         color: $DarkShade;
     }
 }
// ********* checkbox *********
.checkbox {
    max-width: 300px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    input+label {
        display: flex;
        align-items: flex-start;
        position: relative;
        font-weight: normal;
        text-transform: none;
        font-size: 18px;
        letter-spacing: 0.3px;
        color: $DarkShade50;
        padding-bottom: 14px;
        &::before {
            content: "";
            display: inline-block;
            flex-shrink: 0;
            $side: 22px;
            width: $side;
            height: $side;
            border: 2px solid $DarkShade25;
            border-radius: 5px;
            margin-right: 12px;
        }
        &::after {
            display: none;
            position: absolute;
            content: "";
            left: 9px;
            top: 6px;
            height: 8px;
            width: 6px;
            border: 3px solid transparent;
            border-top: none;
            border-left: none;
            transform: rotate(45deg);
            border-image: $gradientColor;
            -moz-border-image: $gradientColor;
            -webkit-border-image: $gradientColor;
            border-image-slice: 1;
        }
    }
    input:checked+label {
        &::before {
            border-color: $Purple;
        }
        &::after {
            display: block;
        }
    }
    &.rich {
        max-width: 333px;
        padding-bottom: 10px;
        label {
            font-weight: bold;
            color: $DarkShade75;
            padding-bottom: 7px;
        }
        p {
            padding-left: 38px;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.1px;
            color: $DarkShade50;
        }
    }
}
// ********* radiobutton *********
.radiobutton {
    display: inline-block;
    margin-right: 24px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    input+label {
        display: flex;
        align-items: flex-start;
        position: relative;
        font-weight: normal;
        text-transform: none;
        font-size: 18px;
        letter-spacing: 0.3px;
        color: $DarkShade50;
        $sideBorder: 22px;
        $borderWidth: 2px;
        &::before {
            content: "";
            display: inline-block;
            flex-shrink: 0;
            width: $sideBorder;
            height: $sideBorder;
            border: $borderWidth solid $DarkShade25;
            border-radius: 50%;
            margin-right: 12px;
        }
        &::after {
            display: none;
            position: absolute;
            content: "";
            transform: translate(-50%, -50%);
            left: $sideBorder / 2 + $borderWidth;
            top: $sideBorder / 2 + $borderWidth;
            $side: 15px;
            height: $side;
            width: $side;
            background: $gradientColor;
            border-radius: 50%;
        }
    }
    input:checked+label {
        color: $DarkShade75;
        &::before {
            border-color: $Purple;
        }
        &::after {
            display: block;
        }
    }
}
// ********* togglebutton *********
.togglebutton {
    display: flex;
    margin-bottom: 14px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    label {
        font-weight: normal;
        text-transform: none;
        font-size: 18px;
        letter-spacing: 0.3px;
        color: $DarkShade75;
    }
    input+.toggle-wrapper {
        flex-shrink: 0;
        display: inline-block;
        position: relative;
        $side: 27px;
        height: $side;
        width: $side * 2;
        margin-right: 12px;
        border: 2px solid $DarkShade25;
        border-radius: $side / 2;
        transition: 0.3s;
        &::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            height: 17px;
            width: 17px;
            background: $DarkShade25;
            border-radius: 50%;
            transition: 0.3s;
        }
    }
    input:checked+.toggle-wrapper {
        border-color: $Purple;
        &::before {
            transform: translateX(27px);
            background: $gradientColor;
        }
    }
}
// ********* likebutton *********
.likebutton {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: 15px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    input+label {
        $side: 24px;
        $border: 2px;
        color: $DarkShade25;
        width: $side * 2;
        line-height: $side - $border * 2;
        border-radius: $side / 2;
        border: 2px solid transparent;
        background-color: white;
        text-align: right;
        padding-right: 20%;
        font-weight: normal;
        font-size: 13px;
        &::before {
            content: "";
            background: $DarkShade25;
            position: absolute;
            z-index: -1;
            left: -$border;
            top:-$border;
            height: $side;
            width: $side * 2;
            border-radius: ($side + $border * 2) / 2;
            padding: $border;
        }
        &::after {
            content: "";
            position: absolute;
            height: $side / 2;
            width: $side / 2;
            top: $side / 2;
            left: $side / 2;
            transform: translate(-50%, -50%);
            background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12,22.3l-4-3c-6.1-4.7-7.5-6.5-7.5-10s2.9-6.4,6.4-6.4c2,0,3.9,1,5.1,2.5c1.2-1.6,2.9-2.5,4.9-2.5%20%20c3.5,0,6.4,2.9,6.4,6.4c0,3.6-1.4,5.4-7.4,10%20M14.9,18c5.6-4.4,6.8-5.8,6.8-8.6c0-2.6-2-4.6-4.6-4.7l0,0c-1.6,0-3.1,0.9-4.3,2.7%20%20l-0.8,0l-0.7,0C9.9,5.6,8.6,4.7,7,4.7c-2.5,0-4.6,2.1-4.6,4.6c0,2.8,1.2,4.3,6.8,8.6l2.8,2.2%22%20fill%3D%22%231f20413f%22%2F%3E%3C%2Fsvg%3E);
            background-repeat: no-repeat;
        }
    }
    input:checked+label {
        color: $Purple;
        &::before {
            background: $gradientColor;
        }
        &::after {
            background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M8.1,19.4c-6.1-4.7-7.4-6.5-7.4-10c0-3.5,2.9-6.4,6.4-6.4c2.1,0,4,1.2,5,3.1c1-1.9,2.9-3.1,5-3.1c3.5,0,6.4,2.9,6.4,6.4c0,3.6-1.4,5.4-7.4,10L12,22%22%20fill%3D%22%23bc9cff%22%2F%3E%3C%2Fsvg%3E);
        }
    }
}
// ********* ratebutton *********
.ratebutton {
    display: inline-block;
    margin-right: 22px;
    cursor: pointer;
    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__label {
        font-size: 36px;
        letter-spacing: 0.8px;
        color: $Purple;
        float: right;
        cursor: pointer;
        &::before {
            content: "☆";
        }
    }
    &__label:hover::before,
    &__label:hover~&__label::before,
    &__input:checked~&__label::before {
            content: "★";
    }
}
// ********* rateresult *********
.rateresult {
    display: inline-block;
    user-select: none;
    label {
        font-size: 36px;
        letter-spacing: 0.8px;
        color: $Purple;
        float: left;
    }
}
// ********* rangeslider *********
.range-slider {
    max-width: 374px;
    margin: 0 -12px;
    &__text {
        margin-left: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__range {
        font-size: 16px;
        color: $DarkShade50;
        float: right;
        padding-right: 10px;
        letter-spacing: 0.45px;
    }
    .slider {
        position: relative;
        &__custom-slider {
            position: relative;
            z-index: 1;
            height: 9px;
            margin: 23px 12px 15px;
        }
        &__track {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 2px solid $DarkShade25;
            border-radius: 5px;
        }
        &__range {
            position: absolute;
            z-index: 2;
            left: 33.3333%;
            right: 33.3333%;
            top: 0;
            bottom: 0;
            border-radius: 5px;
            background: $gradientColorSecond;
        }
        &__thumb {
            position: absolute;
            z-index: 3;
            width: 24px;
            height: 24px;
            background: $gradientColorSecond;
            border: 4px solid white;
            border-radius: 50%;
            &.left {
                left: 33.3333%;
                transform: translate(-12px, -8px);
            }
            &.right {
                right: 33.3333%;
                transform: translate(12px, -8px);
            }
        }
        input[type="range"] {
            pointer-events: none;
            position: absolute;
            -webkit-appearance: none;
            -moz-appearance: none;
            z-index: 2;
            height: 10px;
            width: 100%;
            opacity: 0;
            &::-webkit-slider-thumb {
                pointer-events: all;
                appearance: none;
                width: 25px;
                height: 25px;
                border: none;
                border-radius: none;
                background-color: red;
            }
        }
    }
}
// ********* pagination *********
.pagination {
    $side: 53px;
    &__items {
        display: flex;
        height: $side;
        margin-bottom: 10px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $side;
        width: $side;
        border-radius: 50%;
        color: $DarkShade50;
        &.active {
            background: $gradientColor;
            font-weight: bold;
            color: white;
        }
        &.arrow {
            background: $gradientColorSecond;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                right: 20px;
                height: 10px;
                width: 10px;
                border: 3px solid white;
                border-left: none;
                border-bottom: none;
                transform: rotate(45deg);
            }
            &::after {
                content: "";
                position: absolute;
                right: 22px;
                height: 3px;
                width: 15px;
                background-color: white;
            }
        }
    }
    &__info {
        color: $DarkShade75;
        padding-left: 7px;
    }
}
// ********* arrow *********
.arrow-down {
    $size: 27px;
    display: inline-block;
    position: relative;
    height: $size;
    width: $size;
    $childWidth: 12px;
    &::before {
        position: absolute;
        content: "";
        $side: 9px;
        top: 4px;
        left: 9px;
        height: $side;
        width: $side;
        transform: rotate(45deg);
        border: 2.5px solid $DarkShade50;
        border-top: 0;
        border-left: 0;
    }
}
// ********* help-info *********
.help-info {
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    height: 27px;
    width: 27px;
    border: 2px solid $DarkShade25;
    border-radius: 50%;
    color: $DarkShade25;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    &:hover::before {
        content: attr(data-prompt);
        position: absolute;
        width: auto;
        height: auto;
        left: 15px; top: -37px;
        z-index: 5;
        background: white;
        border: 2px solid $DarkShade25;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        color: $DarkShade;
        font-weight: normal;
        text-align: justify;
        font-size: 14px;
        line-height: 18px;
        padding: 3px;
    }
}
// ********* subscribe-form *********
.form-subscribe {
    display: flex;
    height: 60px;
    max-width: 352px;
    border: 2px solid $DarkShade25;
    border-radius: 5px;
    input {
        outline: none;
        height: 100%;
        width: 100%;
        border: none;
        padding: 19px 0 20px 17px;
        border-radius: 5px;
        border-right: none;
        font-family: "Montserrat";
        font-size: 19px;
        color: $DarkShade;
        & ::placeholder {
            color: $DarkShade50;
        }
    }
    &__button {
        outline: none;
        cursor: pointer;
        width: 17%;
        height: 100%;
        border: none;
        background-color: white;
        flex-shrink: 0;
    }
}
// ********* dropdown (absolute list) *********
.dropdown {
    max-width: 424px;
    position: relative;
    user-select: none;
    &::before {
        position: absolute;
        content: "";
        top: 19px;
        right: 24px;
        $side: 9px;
        height: $side;
        width: $side;
        transform: rotate(45deg);
        border: 2.5px solid #1F20417F;
        border-top: 0;
        border-left: 0;
    }
    &.options {
        max-width: 350px;
        input {
            width: 100%;
        }
    }
    &__output {
        font-size: 18px;
        cursor: pointer;
        &::placeholder {
            color: $DarkShade75;
        }
    }
    &__list {
        display: none;
        position: absolute;
        padding-bottom: 8px;
        top: 55px;
        z-index: 1;
        width: 100%;
        background-color: white;
        border: 2px solid $DarkShade50;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 3px 16px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: $DarkShade;
        .counter-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__counter {
                width: 45px;
                text-align: center;
            }
            &__minus, &__plus {
                height: 36px;
                width: 36px;
                border: 1px solid $DarkShade50;
                color: $DarkShade50;
                border-radius: 50%;
                font-size: 30px;
                font-weight: normal;
                cursor: pointer;
                text-align: center;
                &.disabled {
                    border: 1px solid $DarkShade25;
                    color: $DarkShade25;
                }
            }
        }
        @media(max-width: 380px) { display: block;}
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        padding: 21px 7px 0 15px;
        text-transform: uppercase;
        @media(max-width: 380px) { display: block; text-align: center;}
    }
    &__clear-btn {
        color: $DarkShade50;
        &:hover {
            color: $Purple;
            opacity: 1;
        }
    }
    &__apply-btn {
        color: $Purple;
    }
    &__list.active {
        display: block;
    }
}
// ********* dropdown (relative) *********
.dropdown-checkbox {
    user-select: none;
    max-width: 350px;
    position: relative;
    &__title {
        height: auto;
        margin-bottom: 13px;
        margin-right: 40px;
        &::before {
            content: "";
            position: absolute;
            height: 9px;
            width: 9px;
            border: 2.5px solid $DarkShade50;
            border-top: none;
            border-left: none;
            right: 21px;
            top: 6px;
            transform: rotate(45deg);
            transition: 0.3s;
        }
        &.active {
            &::before {
                transform: rotate(225deg);
                top: 12.5px;
            }
        }
    }
    &__list {
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
    &__title.active+&__list {
        max-height: 300px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }
}
// ********* bullet list *********
.bullet-list {
    max-width: 350px;
    &__item {
        position: relative;
        padding-left: 30px;
        padding-bottom: 14px;
        color: $DarkShade75;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 6px;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            background-color: $DarkShade25;
        }
    }
}
// ********* twin datepick *********
.twin-datepick {
    display: flex;
    justify-content: space-between;
    &__item {
        width: 200px;
        position: relative;
        input { width: inherit; }
        &::before {
            position: absolute;
            content: "";
            bottom: 50px;
            right: 24px;
            $side: 9px;
            height: $side;
            width: $side;
            transform: rotate(45deg);
            border: 2.5px solid $DarkShade50;
            border-top: 0;
            border-left: 0;
        }
    }
    @media(max-width: 540px) {
        display: block;
        &__item { width: 100%; }
    }
}
// ********* date solo range *********
.date-solo-range {
    position: relative;
    max-width: 352px;
    &::before {
        position: absolute;
        content: "";
        bottom: 50px;
        right: 24px;
        $side: 9px;
        height: $side;
        width: $side;
        transform: rotate(45deg);
        border: 2.5px solid #1F20417F;
        border-top: 0;
        border-left: 0;
    }
    input { width: 100%; }
}
// ********* privilege element *********
.privilege {
    padding: 27px 4px;
    display: flex;
    align-items: center;
    max-width: 370px;
    border-bottom: 1px solid $DarkShade10;
    &:last-child {
        border: none;
    }
    &__img {
        img {
            display: block;
        }
    }
    &__text {
        padding-left: 20px;
        color: $DarkShade75;
        label {
            text-transform: none;
            font-size: 18px;
        }
    }
}
// ********* comment *********
.comment {
    padding: 5px 3px;
    &__header {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        img { display: block; border-radius: 50%;}
        label {
            font-size: 18px;
            text-transform: none;
        }
    }
    &__user { padding-left: 15px; }
    &__body { display: flex; }
    &__description { margin-left: 7px; }
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    &__item {
        display: block;
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;

        }
        &.active {
            position: relative;
            opacity: 1;
            transition: all .3s linear;
        }
    }
    &__prev, &__next {
        position: absolute;
        opacity: 0;
        background: none;
        top: 50%;
        height: 12px;
        width: 12px;
        border: 3px solid white;
        border-bottom: none;
        border-right: none;
        z-index: 1;
        outline: none;
        transition: .3s;
    }
    &:hover &__prev, &:hover &__next {
        opacity: 1;
    }
    &__prev {
        left: 7%;
        transform: rotate(-45deg) translate(50%,-50%);
    }
    &__next {
        right: 7%;
        transform: rotate(135deg) translate(-50%, 50%);
    }
    &__dots {
        position: absolute;
        display: flex;
        right: 5%;
        bottom: 11%;
    }
    &__dot {
        height: 10px;
        width: 10px;
        margin: 0 2px;
        border: 1px solid white;
        border-radius: 50%;
        &.active {
            background-color: white;
        }
    }
}

.circle-diagram {
    display: flex;
    align-items: flex-end;
    min-width: 462px;
    padding: 24px 0;
    &__wrapper { position: relative; margin-right: 38px;}
    &__data {
        position: absolute;
        color: $Purple;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 29px;
    }
    &__count { font-family: "OpenSans"; font-size: 30px;}
    &__votes { font-family: "Montserrat"; font-size: 20px; font-weight: bold;}
    &__chart {
        fill: none;
        stroke-width: 1.5px;
        transform: rotate(90deg);
    }
    &__unit:hover {
        stroke-width: 3.5px;
        transition: .3s;
    }
    .description {
        padding: 8px 0;
        &__item {
            display: flex;
            align-items: center;
        }
        &__perfect, &__good, &__normal, &__bad { 
            height: 13px;
            width: 13px;
            margin-right: 9px;
            border-radius: 50%;
            
        }
        &__perfect {background: linear-gradient(to top, #FFE39C, #FFBA9C);}
        &__good {background: linear-gradient(to top,#8BA4F9, #BC9CFF);}
        &__normal {background: linear-gradient(to top, #66D2EA, #6FCF97);}
        &__bad {background: linear-gradient(to top,#909090, #3D4975);}
    }
}

.rules {
    &__header {
        margin-bottom: 24px;
        margin-left: 28px;
    }
}

// ********* cards *********

.landing-card {
    background-color: white;
    max-width: 500px;
    padding: 40px 40px;
    border-radius: 5px;
    box-shadow: $shadow;
    &__form {
        padding-bottom: 20px;
    }
    h1 {
        letter-spacing: -0.1px;
        padding-top: 12px;
        padding-bottom: 22px;
    }
}

.register-card {
    background-color: white;
    max-width: 500px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: $shadow;
    h1 {
        letter-spacing: -0.1px;
        padding-top: 15px;
        padding-bottom: 27px;
    }
    input {
        margin-bottom: 12px;
    }
    &__group {
        padding-bottom: 17px;
    }
    &__birthday {
        padding-bottom: 10px;
    }
    &__help {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
    }
}

.total-card {
    background-color: white;
    max-width: 500px;
    padding: 40px 40px;
    border-radius: 5px;
    box-shadow: $shadow;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 12px;
        padding-bottom: 22px;
        .number {
            display: flex;
            align-items: flex-end;
            &__prefix {
                font-size: 20px;
                padding-right: 4px;
            }
            &__value { padding-right: 9px; }
            &__lux { color: $Purple; }
        }
        .cost {
            display: flex;
            align-items: flex-start;
            &__rubles {
                font-size: 18px;
                letter-spacing: 1px;
                color: $DarkShade50;
            }
            &__period {
                font-size: 16px;
                line-height: 26px;
                color: $DarkShade50;
            }
        }
    }
    &__body {
        padding-bottom: 20px;
        .calculate {
            span {
                line-height: 26px;
            }
            &__item {
                display: flex;
                justify-content: space-between;
                padding-bottom: 15px;
            }
            .additional-service__position, .service__position {
                display: flex;
                width: 317px;
                justify-content: space-between;
            }
        }
    }
    &__total {
        padding-bottom: 25px;
        .total {
            display: flex;
            align-items: flex-start;
            &__result { font-size: 26px; flex-shrink: 0;}
            &__space { 
                border-bottom: 2px dotted $DarkShade25;
                width: 500px;
                margin: 0 5px;
                height: 26px;
                flex-shrink: 2;
            }
            &__cost {
                font-family: "Montserrat";
                line-height: 35px;
                flex-shrink: 0;
            }
        }
    }
}

.login-card {
    background-color: white;
    max-width: 500px;
    padding: 40px 40px;
    border-radius: 5px;
    box-shadow: $shadow;
    h1 {
        padding-top: 15px;
        padding-bottom: 25px;
    }
    &__fields {
        padding-bottom: 10px;
        input {
            margin-bottom: 15px;
        }
    }
    &__help {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
    }
}

.opened-datepick {.datepicker-inline { display: block;}}

.room-card {
    height: 340px;
    width: 356px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: $shadow;
    &__carousel { height: 60%; }
    &__description { height: 40%; }
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 26px 26px 13px;
        .number {
            display: flex;
            align-items: flex-end;
            &__prefix {
                font-size: 20px;
                padding-right: 4px;
            }
            &__value { padding-right: 9px; font-size: 26px; line-height: 31px;}
            &__lux { color: $Purple; }
        }
        .cost {
            display: flex;
            align-items: flex-end;
            &__rubles {
                font-size: 18px;
                letter-spacing: 1px;
                color: $DarkShade50;
            }
            &__period {
                font-size: 16px;
                line-height: 26px;
                color: $DarkShade50;
            }
        }
    }
    &__spacer {
        display: block;
        height: 1px;
        background-color: $DarkShade25;
        width: 86%;
        margin: 0 auto;
    }
    &__rating {
        padding: 13px 26px 26px;
        .rating { 
            display: flex;
            justify-content: space-between;
            &__reviews {
                display: flex;
                align-items: center;
                color: $DarkShade25;
            }
            &__count { font-size: 18px; color: $DarkShade50;}
        }
    }
}