.checkbox {
  max-width: 300px;
  position: relative;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  input+label {
    display: flex;
    align-items: flex-start;
    position: relative;
    font-weight: normal;
    text-transform: none;
    font-size: 1.125rem;
    letter-spacing: 0.3px;
    color: $DarkShade50;
    padding-bottom: 14px;
    &::before {
      content: '';
      display: inline-block;
      flex-shrink: 0;
      $side: 22px;
      width: $side;
      height: $side;
      border: 2px solid $DarkShade25;
      border-radius: 5px;
      margin-right: 12px;
    }
    &::after {
      display: none;
      position: absolute;
      content: '';
      left: 9px;
      top: 6px;
      height: 8px;
      width: 6px;
      border: 3px solid transparent;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      border-image: $gradientColor;
      -moz-border-image: $gradientColor;
      -webkit-border-image: $gradientColor;
      border-image-slice: 1;
    }
  }
  input:checked+label {
    &::before {
      border-color: $Purple;
    }
    &::after {
      display: block;
    }
  }
  &.rich {
    max-width: 333px;
    padding-bottom: 10px;
    label {
      font-weight: bold;
      color: $DarkShade75;
      padding-bottom: 7px;
    }
    p {
      padding-left: 38px;
      font-size: 1rem;
      line-height: 19px;
      letter-spacing: -0.1px;
      color: $DarkShade50;
    }
  }
}

.likebutton {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-right: 15px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  input+label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    $side: 24px;
    $border: 2px;
    color: $DarkShade25;
    width: $side * 2;
    height: $side;
    border-radius: ($side + ($border * 2)) / 2;
    border: 2px solid transparent;
    background-color: white;
    font-weight: normal;
    font-size: 0.8125rem;
    &::before {
      content: '';
      background: $DarkShade25;
      position: absolute;
      z-index: -1;
      left: -$border;
      top:-$border;
      height: $side;
      width: $side * 2;
      border-radius: ($side + $border * 2) / 2;
      padding: $border;
    }
    .heart {
      height: 12px;
      width: $side / 2;
      background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12,22.3l-4-3c-6.1-4.7-7.5-6.5-7.5-10s2.9-6.4,6.4-6.4c2,0,3.9,1,5.1,2.5c1.2-1.6,2.9-2.5,4.9-2.5%20%20c3.5,0,6.4,2.9,6.4,6.4c0,3.6-1.4,5.4-7.4,10%20M14.9,18c5.6-4.4,6.8-5.8,6.8-8.6c0-2.6-2-4.6-4.6-4.7l0,0c-1.6,0-3.1,0.9-4.3,2.7%20%20l-0.8,0l-0.7,0C9.9,5.6,8.6,4.7,7,4.7c-2.5,0-4.6,2.1-4.6,4.6c0,2.8,1.2,4.3,6.8,8.6l2.8,2.2%22%20fill%3D%22%231f20413f%22%2F%3E%3C%2Fsvg%3E);
      background-repeat: no-repeat;
    }
    .counter {
      min-width: $side / 2;
    }
  }
  input:checked+label {
    color: $Purple;
    &::before {
      background: $gradientColor;
    }
    .heart {
      background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M8.1,19.4c-6.1-4.7-7.4-6.5-7.4-10c0-3.5,2.9-6.4,6.4-6.4c2.1,0,4,1.2,5,3.1c1-1.9,2.9-3.1,5-3.1c3.5,0,6.4,2.9,6.4,6.4c0,3.6-1.4,5.4-7.4,10L12,22%22%20fill%3D%22%23bc9cff%22%2F%3E%3C%2Fsvg%3E);
    }
  }
}

.ratebutton {
  display: inline-block;
  margin-right: 22px;
  position: relative;
  cursor: pointer;
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__label {
    font-size: 2.25rem;
    letter-spacing: 0.8px;
    color: $Purple;
    float: right;
    cursor: pointer;
    &::before {
      content: '☆';
    }
  }
  &__label:hover::before,
  &__label:hover~&__label::before,
  &__input:checked~&__label::before {
      content: '★';
  }
}

.rateresult {
  display: inline-block;
  user-select: none;
  label {
    font-size: 2.25rem;
    letter-spacing: 0.8px;
    color: $Purple;
    float: left;
  }
}

.range-slider {
  max-width: 374px;
  .multislider-v43-header__description {
    text-transform: uppercase;
  }
  input {
    margin: 0;
    height: auto;
  }
}

.pagination {
  $side: 53px;
  &__items {
    display: flex;
    height: $side;
    margin-bottom: 10px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $side;
    width: $side;
    border-radius: 50%;
    color: $DarkShade50;
    &.active {
      background: $gradientColor;
      font-weight: bold;
      color: white;
    }
    &.arrow {
      background: $gradientColorSecond;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        right: 20px;
        height: 10px;
        width: 10px;
        border: 3px solid white;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
      }
      &::after {
        content: '';
        position: absolute;
        right: 22px;
        height: 3px;
        width: 15px;
        background-color: white;
      }
    }
  }
  &__info {
    color: $DarkShade75;
    padding-left: 7px;
  }
}

.help-info {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  height: 27px;
  width: 27px;
  border: 2px solid $DarkShade25;
  border-radius: 50%;
  color: $DarkShade25;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  &:hover::before {
    content: attr(data-prompt);
    position: absolute;
    width: auto;
    height: auto;
    left: 15px; top: -37px;
    z-index: 5;
    background: white;
    border: 2px solid $DarkShade25;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    color: $DarkShade;
    font-weight: normal;
    text-align: justify;
    font-size: 0.875rem;
    line-height: 18px;
    padding: 3px;
  }
}

// ********* dropdown (relative) *********
.dropdown-checkbox {
  user-select: none;
  max-width: 350px;
  position: relative;
  &__title {
    height: auto;
    margin-bottom: 13px;
    margin-right: 40px;
    &::before {
      content: '';
      position: absolute;
      height: 9px;
      width: 9px;
      border: 2.5px solid $DarkShade50;
      border-top: none;
      border-left: none;
      right: 21px;
      top: 6px;
      transform: rotate(45deg);
      transition: 0.3s;
    }
    &.active {
      &::before {
        transform: rotate(225deg);
        top: 12.5px;
      }
    }
  }
  &__list {
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  &__title.active+&__list {
    max-height: 300px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }
}

.bullet-list {
  max-width: 345px;
  &__item {
    position: relative;
    padding-left: 28px;
    padding-bottom: 14px;
    color: $DarkShade75;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 6px;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: $DarkShade25;
    }
  }
}

.twin-datepick {
  display: flex;
  justify-content: space-between;
  &__item {
    width: 200px;
    position: relative;
    input {
      width: 100%; 
      cursor: pointer;
    }
    &::before {
      position: absolute;
      content: '';
      bottom: 50px;
      right: 24px;
      $side: 9px;
      height: $side;
      width: $side;
      transform: rotate(45deg);
      border: 2.5px solid $DarkShade50;
      border-top: 0;
      border-left: 0;
    }
  }
  @media(max-width: 540px) {
    display: block;
    &__item { width: 100%; }
  }
}

.date-solo-range {
  position: relative;
  max-width: 352px;
  &::before {
    position: absolute;
    content: '';
    bottom: 50px;
    right: 24px;
    $side: 9px;
    height: $side;
    width: $side;
    transform: rotate(45deg);
    border: 2.5px solid #1F20417F;
    border-top: 0;
    border-left: 0;
  }
  input { width: 100%; }
}

.privilege {
  padding: 27px 4px;
  display: flex;
  align-items: center;
  max-width: 370px;
  border-bottom: 1px solid $DarkShade10;
  &:last-child {
    border: none;
  }
  &__img {
    img {
      display: block;
    }
  }
  &__text {
    padding-left: 20px;
    color: $DarkShade75;
    label {
      text-transform: none;
      font-size: 1.125rem;
    }
  }
}

.comment {
  padding: 5px 3px;
  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    img { display: block; border-radius: 50%;}
    label {
      font-size: 1.125rem;
      text-transform: none;
    }
  }
  &__user { padding-left: 15px; }
  &__body { display: flex; }
  &__description { margin-left: 7px; }
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  &__item {
    display: block;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;

    }
    &.active {
      position: relative;
      opacity: 1;
      transition: all .3s linear;
    }
  }
  &__prev, &__next {
    position: absolute;
    opacity: 0;
    background: none;
    top: 50%;
    height: 12px;
    width: 12px;
    border: 3px solid white;
    border-bottom: none;
    border-right: none;
    z-index: 1;
    outline: none;
    transition: .3s;
  }
  &:hover &__prev, &:hover &__next {
    opacity: 1;
  }
  &__prev {
    left: 7%;
    transform: rotate(-45deg) translate(50%,-50%);
  }
  &__next {
    right: 7%;
    transform: rotate(135deg) translate(-50%, 50%);
  }
  &__dots {
    position: absolute;
    display: flex;
    right: 5%;
    bottom: 11%;
  }
  &__dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    border: 1px solid white;
    border-radius: 50%;
    &.active {
      background-color: white;
    }
  }
}

.circle-diagram {
  display: flex;
  align-items: flex-end;
  min-width: 462px;
  padding: 24px 0;
  &__wrapper { position: relative; margin-right: 38px;}
  &__data {
    position: absolute;
    color: $Purple;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 29px;
  }
  &__count { font-family: 'OpenSans'; font-size: 1.875rem;}
  &__votes { font-family: 'Montserrat'; font-size: 1.25rem; font-weight: bold;}
  &__chart {
    fill: none;
    stroke-width: 1.5px;
    transform: rotate(90deg);
  }
  &__unit:hover {
    stroke-width: 3.5px;
    transition: .3s;
  }
  .description {
    padding: 8px 0;
    &__item {
      display: flex;
      align-items: center;
    }
    &__perfect, &__good, &__normal, &__bad { 
      height: 13px;
      width: 13px;
      margin-right: 9px;
      border-radius: 50%;
      
    }
    &__perfect {background: linear-gradient(to top, #FFE39C, #FFBA9C);}
    &__good {background: linear-gradient(to top,#8BA4F9, #BC9CFF);}
    &__normal {background: linear-gradient(to top, #66D2EA, #6FCF97);}
    &__bad {background: linear-gradient(to top,#909090, #3D4975);}
  }
  @media (max-width: '576px') {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 0;
  }
}

.rules {
  &__header {
    margin-bottom: 24px;
    margin-left: 28px;
  }
}

.total-card {
  background-color: white;
  max-width: 500px;
  padding: 40px 40px;
  border-radius: 5px;
  box-shadow: $shadow;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 12px;
    padding-bottom: 22px;
    .number {
      display: flex;
      align-items: flex-end;
      &__prefix {
        font-size: 1.25rem;
        padding-right: 4px;
      }
      &__value { padding-right: 9px; }
      &__lux { color: $Purple; }
    }
    .cost {
      display: flex;
      align-items: flex-start;
      &__rubles {
        font-size: 1.125rem;
        letter-spacing: 1px;
        color: $DarkShade50;
      }
      &__period {
        font-size: 1rem;
        line-height: 26px;
        color: $DarkShade50;
      }
    }
    @media (max-width: '430px') { flex-direction: column; align-items: center;}
  }
  &__body {
    padding-bottom: 20px;
    .calculate {
      span {
        line-height: 26px;
      }
      &__item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        @media (max-width: '430px') { flex-direction: column; align-items: center;}
      }
      .additional-service__position, .service__position {
        display: flex;
        width: 317px;
        justify-content: space-between;
        @media (max-width: '430px') { width: 100%;}
      }
    }
  }
  &__total {
    padding-bottom: 25px;
    .total {
      display: flex;
      align-items: flex-start;
      &__result { font-size: 1.625rem; flex-shrink: 0;}
      &__space { 
        border-bottom: 2px dotted $DarkShade25;
        width: 500px;
        margin: 0 5px;
        height: 26px;
        flex-shrink: 2;
      }
      &__cost {
        font-family: 'Montserrat';
        line-height: 35px;
        flex-shrink: 0;
      }
    }
  }
}

.opened-datepick {.datepicker-inline { display: block;}}

.room-card {
  height: 340px;
  width: 356px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: $shadow;
  &__carousel { 
    height: 60%;
    @media(max-width: '400px') {
      height: 50%;
    }
  }
  &__description { 
    height: 40%;
    @media(max-width: '400px') {
      height: 50%;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 8% 7% 3%;
    @media(max-width: '400px') {
      flex-direction: column;
      align-items: center;
    }
    .number {
      display: flex;
      align-items: flex-end;
      &__prefix {
        font-size: 1.25rem;
        padding-right: 4px;
      }
      &__value { padding-right: 9px; font-size: 1.625rem; line-height: 31px;}
      &__lux { color: $Purple; }
    }
    .cost {
      display: flex;
      align-items: flex-end;
      &__rubles {
        font-size: 1.125rem;
        letter-spacing: 1px;
        color: $DarkShade50;
      }
      &__period {
        font-size: 1rem;
        line-height: 26px;
        color: $DarkShade50;
      }
    }
  }
  &__spacer {
    display: block;
    height: 1px;
    background-color: $DarkShade25;
    width: 86%;
    margin: 0 auto;
  }
  &__rating {
    padding: 4% 7.6% 8%;
    .rating { 
      display: flex;
      justify-content: space-between;
      @media(max-width: '400px') {
        flex-direction: column;
        align-items: center;
      }
      &__reviews {
        display: flex;
        align-items: center;
        color: $DarkShade25;
      }
      &__count { font-size: 1.125rem; color: $DarkShade50;}
    }
  }  
  @media(max-width: '400px') {
    height: 100%;
  }
}