.multislider-v43 {
  font-family: inherit;
  padding-bottom: 15px;
  &-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    &__spacer {
      height: 37px;
      flex-shrink: 0;
    }
  }
}