@import "_font-face.scss";

$containerWidth: 1573px;
$headerPadding: 18px;
$gradientColor: linear-gradient(to top, #8BA4F9, #BC9CFF);
$shadow: 0px 0px 50px -25px #1F2041;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 18px;
}
h1 {
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -0.1px;
    line-height: 41px;
}
h2 {
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 24px;
}
h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: $containerWidth;
    padding: 0 20px;
    margin: 0 auto;
}

@import "_header.scss";

@import "_footer.scss";

@import "_index.scss";

@import "_mediaQueries.scss";