@import "_font-face.scss";

$containerWidth: 1534px;
$headerPadding: 18px;
$gradientColor: linear-gradient(to top, #8BA4F9, #BC9CFF);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 18px;
}
h1 {
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 36px;
    background: $gradientColor;
}
h2 {
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 24px;
}
h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: $containerWidth;
    margin: 0 auto;
}

// *********** HEADER BLOCK ***********

.header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .header__section {
        display: flex;
        padding: 17px 0;
        align-items: center;
        .header__item {
            display: flex;
            padding: 0 14.5px;
            color:#8F90A0;
            align-items: center;
            letter-spacing: 0.25px;
        }
        .header__item:first-child {
            padding-left: 0;
        }
        .header__item:last-child {
            padding-right: 0;
        }
        .header__logo {
            padding-right: 16px;
        }
        .header__name {
            padding-right: 16px;
        }
        .extended {
            padding-right: 47px;
        }
    }
}
.header__login {
    display: flex;
    position: relative;
    $height: 45px;
    height: $height;
    width: 115px;
    $border: 3px;
    color: #BC9CFF;
    background: white;
    background-clip: padding-box;
    border: solid $border transparent; 
    border-radius: $height / 2;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15.5px;
    cursor: pointer;
 
    &:before {
       content: "";
       position: absolute;
       top: 0; right: 0; bottom: 0; left: 0;
       z-index: -1;
       margin: -$border;
       border-radius: $height / 2;
       background: $gradientColor;
    }
 }
 .header__register {
    display: flex;
    position: relative;
    $height: 45px;
    height: $height;
    width: 258px;
    background: $gradientColor;
    border-radius: $height / 2;
    color: white;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15.5px;
    margin-right: 2px;
    cursor: pointer;
    letter-spacing: 0px;
 }
.arrow-down {
    $side: 27px;
    display: inline-block;
    height: $side;
    width: $side;
    $childWidth: 12px;
    &::before, &::after
    {
        content: "";
        position: absolute;
        height: 3px;
        width: $childWidth;
        background-color:#8F90A0;
    }
    &::before {
        transform: translate(($side / 2) - ($childWidth * 0.78), $side / 2) rotate(45deg);
    }
    &::after {
        transform: translate(($side / 2) - ($childWidth* 0.22), $side / 2) rotate(-45deg);
    }
}

// *********** BODY BLOCK ***********

.landing {
    background: url("../static/images/background.jpg") no-repeat;
    background-size: cover;
    background-position: 0% 100%;
    height: 1095px;
}