@import 'Root/style-variables.scss';

.like-button {
  $side: 18px;
  $border: 1px;

  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darkShade25;
    min-width: $side * 2;
    height: $side;
    border-radius: $side / 2;
    border: 2px solid transparent;
    background-color: white;
    font-weight: normal;
    font-size: 0.6rem;
    padding-left: 2px;
    padding-right: 5px;

    &::before {
      content: '';
      background: $darkShade25;
      position: absolute;
      z-index: -1;
      left: -$border;
      top:-$border;
      height: $side;
      width: 100%;
      border-radius: ($side + $border * 2) / 2;
      padding: $border;
    }
  }

  &__heart {
    height: $side / 2 + $border;
    width: $side / 2;
    margin-right: 5px;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12,22.3l-4-3c-6.1-4.7-7.5-6.5-7.5-10s2.9-6.4,6.4-6.4c2,0,3.9,1,5.1,2.5c1.2-1.6,2.9-2.5,4.9-2.5%20%20c3.5,0,6.4,2.9,6.4,6.4c0,3.6-1.4,5.4-7.4,10%20M14.9,18c5.6-4.4,6.8-5.8,6.8-8.6c0-2.6-2-4.6-4.6-4.7l0,0c-1.6,0-3.1,0.9-4.3,2.7%20%20l-0.8,0l-0.7,0C9.9,5.6,8.6,4.7,7,4.7c-2.5,0-4.6,2.1-4.6,4.6c0,2.8,1.2,4.3,6.8,8.6l2.8,2.2%22%20fill%3D%22%231f20413f%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
  }

  &__counter {
    min-width: $side / 2;
  }

  &__input:checked + &__wrapper {
    color: $purple;

    &::before {
      background: $gradientColor;
    }
  }
  
  &__input:checked + &__wrapper > &__heart {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M8.1,19.4c-6.1-4.7-7.4-6.5-7.4-10c0-3.5,2.9-6.4,6.4-6.4c2.1,0,4,1.2,5,3.1c1-1.9,2.9-3.1,5-3.1c3.5,0,6.4,2.9,6.4,6.4c0,3.6-1.4,5.4-7.4,10L12,22%22%20fill%3D%22%23bc9cff%22%2F%3E%3C%2Fsvg%3E);
  }
}