mixin like-button(props)
  - const { count, isChecked } = props;

  label.like-button.js-like-button
    input.like-button__input.js-like-button__input(
      type="checkbox", checked=isChecked
    )
    .like-button__wrapper
      .like-button__heart
      .like-button__counter.js-like-button__counter=count