include ~Blocks/header/header.pug
include ~Blocks/footer/footer.pug
include ~Blocks/footer-mobile/footer-mobile.pug

doctype html

block variables

html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="x-ua-compatible" content="IE=edge")
    block links
    title= title ? title : "TOXIN"
  body
    header.headers
      +header({ isAuthorized })
    main.main
      block content
    footer.footers
      +footer({
        refBlocks: [
          {
            title: "Навигация",
            references: [
              { content: "О нас" },
              { content: "Новости" },
              { content: "Служба поддержки" },
              { content: "Услуги" },
            ],
          },
          {
            title: "О\xa0нас",
            references: [
              { content: "О сервисе" },
              { content: "Наша команда" },
              { content: "Вакансии" },
              { content: "Инвесторы" },
            ],
          },
          {
            title: "Служба\xa0поддержки",
            references: [
              { content: "Соглашения" },
              { content: "Сообщества" },
              { content: "Связь с нами" },
            ],
          },
        ],
        socials: [
          {
            name: "twitter",
            link: "https://twitter.com/",
          },
          {
            name: "facebook",
            link: "https://www.facebook.com/",
          },
          {
            name: "instagram",
            link: "https://www.instagram.com/",
          },
        ],
      })
      +footer-mobile({
        socials: [
          {
            name: "twitter",
            link: "https://twitter.com/",
          },
          {
            name: "facebook",
            link: "https://www.facebook.com/",
          },
          {
            name: "instagram",
            link: "https://www.instagram.com/",
          },
        ],
      })
    block scripts