@import 'Root/style-variables.scss';

$mediaSize: 1000px;

.header {
  background-color: white;
  box-shadow: $shadow;

  &__wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  &__head {
    @media (max-width:$mediaSize) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    padding: 15px 0;
  }

  &__body {
    display: flex;
    align-items: center;
    z-index: 1;

    @media (max-width:$mediaSize) {
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 100%;
      width: 100%;
      max-height: 0;
      flex-direction: column;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: max-height 0.3s linear;
    }

    &_active {
      @media (max-width:$mediaSize) {
        max-height: 100vh;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    padding: 0 9.5px;
    color:$darkShade50;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25px;
    cursor: pointer;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      color: $darkShade75;
    }

    &-list {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      background-color: white;
      border-top: 1px solid $darkShade25;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      &_active {
        display: block;
      }
    }

    @media (max-width:$mediaSize) {
      padding: 25px;
      width: 90%;
      text-align: center;
      border-bottom: 1px solid $darkShade25;
      &:first-child, &:last-child {
        padding: 25px;
      }
      
      &:last-child {
        border: none
      }
    }
  }

  &__arrow-down {
    $size: 27px;
    position: relative;
    height: $size;
    width: $size;
    $childWidth: 12px;

    &::before {
      position: absolute;
      content: '';
      $side: 6px;
      top: 7px;
      left: 9px;
      height: $side;
      width: $side;
      transform: rotate(45deg);
      border: 2.5px solid $darkShade50;
      border-top: 0;
      border-left: 0;
    }
  }

  &__subitem {
    display: block;
    padding: 10px;
    color: $darkShade50;
  }

  &__user {
    padding: 0.5rem 0 0.5rem 30px;
    border-left: 1px solid $darkShade25;
    align-items: center;
    cursor: default;

    @media (max-width:$mediaSize) {
      border: none;
      font-weight: bold;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;

    @media (max-width:$mediaSize) {
      $size: 50px;
      $thickness: 5px;
      $color: $darkShade;
      display: block;
      position: relative;
      height: $size;
      width: $size;

      &-divisions {
        position: absolute;
        height: $thickness;
        width: 100%;
        background-color: $color;
        top: $size / 2;
        transform: translateY(-50%);
        transition: 0.2s;

        &::before, &::after {
          content: '';
          position: absolute;
          height: $thickness;
          width: 100%;
          background-color: $color;
          transition: 0.3s;
        }

        &::before {
          bottom: $size / 2;
          transform: translateY(50%);
        }

        &::after {
          top: $size / 2;
          transform: translateY(-50%);
        }

        &_active {
          transform: rotate(90deg);

          &::before {
            width: 50%;
            transform: rotate(-45deg) translateY(9px) translateX(-16px);
          }

          &::after {
            width: 50%;
            transform: rotate(45deg) translateY(-9px) translateX(-16px);
          }
        }
      }
    }
  }
}