include __ref-item/header__ref-item.pug
include ~Blocks/logo/logo.pug
include ~Blocks/button/button.pug

mixin header(isAuthorized)
  .header
    .header__wrapper.container
      .header__head
        .header__logo
          +logo()
        .header__burger.js-header__burger
          .header__burger-divisions.js-header__burger-divisions
      .header__body.js-header__body
        +header__ref-item("/plug-link", "О\xA0нас")
        +header__ref-item("/plug-link", "Услуги", true)
        +header__ref-item("/plug-link", "Вакансии")
        +header__ref-item("/plug-link", "Новости")
        +header__ref-item("/plug-link", "Соглашения", true)
        if isAuthorized
          .header__item
            .header__user Константин Константинопольский
        else
          .header__item
            +button({
              reference: "login.html",
              content: "Войти",
              modificators: ["theme_bordered"]
            })
          .header__item
            +button({
              reference: "registration.html",
              content: "Зарегистрироваться"
            })