$media-size: 1000px;

header {
  background-color: white;
  box-shadow: $shadow;
  font-size: 0.85rem;
  .header-content {
    display: flex;
    position: relative;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    &__head {
      @media (max-width:$media-size) {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__body {
      display: flex;
      align-items: center;
      @media (max-width:$media-size) {
        position: absolute;
        overflow: hidden;
        top: 100%;
        width: 100%;
        height: 0;
        flex-direction: column;
        background-color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &_active {
        @media (max-width:$media-size) {
          height: auto;
        }
      }
    }
    &__item {
      display: flex;
      padding: 0 9.5px;
      color:$DarkShade50;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.25px;
      .arrow-down {
        $size: 27px;
        display: inline-block;
        position: relative;
        height: $size;
        width: $size;
        $childWidth: 12px;
        &::before {
          position: absolute;
          content: '';
          $side: 6px;
          top: 7px;
          left: 9px;
          height: $side;
          width: $side;
          transform: rotate(45deg);
          border: 2.5px solid $DarkShade50;
          border-top: 0;
          border-left: 0;
        }
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        color: $DarkShade75;
      }
      @media (max-width:$media-size) {
        padding: 25px;
        width: 90%;
        text-align: center;
        border-bottom: 1px solid $DarkShade25;
        &:first-child, &:last-child { padding: 25px; }
        &:last-child { border: none }
      }
    }
    &__user {
      padding-left: 30px;
      height: 40px;
      border-left: 2px solid $DarkShade25;
      display: flex;
      align-items: center;
      @media (max-width:$media-size) {
        padding: 0;
        border: none;
        background: $gradientColor;
        color: white;
        border-radius: 5px;
        $height: 54px;
        height: $height;
        font-weight: bold;
        border-radius: $height / 2;
      }
    }
    &__burger {
      display: none;
      cursor: pointer;
      @media (max-width:$media-size) {
        $width: 50px;
        $height: 5px;
        $color: $DarkShade;
        display: block;
        position: relative;
        height: $width;
        width: $width;
        span {
          position: absolute;
          height: $height;
          width: 100%;
          background-color: $color;
          top: $width / 2;
          transform: translateY(-50%);
          transition: 0.2s;
          &::before, &::after {
            content: '';
            position: absolute;
            height: $height;
            width: 100%;
            background-color: $color;
            transition: 0.3s;
          }
          &::before {
            bottom: $width / 2;
            transform: translateY(50%);
          }
          &::after {
            top: $width / 2;
            transform: translateY(-50%);
          }
        }
        &_active {
          span {
            transform: rotate(90deg);
            &::before {
              width: 50%;
              transform: rotate(-45deg) translateY(9px) translateX(-16px);
            }
            &::after {
              width: 50%;
              transform: rotate(45deg) translateY(-9px) translateX(-16px);
            }
          }
        }
      }
    }
  }
  @media (max-width:$media-size) {
    .button {
      width: 100%;
    }
  }
}