include ../logo/logo.pug
include ../button/button.pug

mixin header-link(reference, name, isExtended=false)
  a(class="header__item", href=`${reference}`)=name
    if isExtended
      .arrow-down

mixin header(isAuthorized)
  .header
    .header__wrapper.container
      .header__head
        .header__logo
          +logo()
        .header__burger.js-header__burger
          .header__burger-divisions
      .header__body.js-header__body
        +header-link("/plug-link", "О\xA0нас")
        +header-link("/plug-link", "Услуги", true)
        +header-link("/plug-link", "Вакансии")
        +header-link("/plug-link", "Новости")
        +header-link("/plug-link", "Соглашения", true)
        if isAuthorized
          .header__item
            .header__user Константин Константинопольский
        else
          +button({
            reference: "login.html",
            content: "Войти",
            addedClasses: "header__item",
            modificator: "ghost-button"
          })
          +button({
            reference: "registration.html",
            content: "Зарегистрироваться",
            addedClasses: "header__item"
          })