include ~Blocks/twin-datepick/twin-datepick.pug
include ~Blocks/dropdown-absolute/dropdown-absolute.pug
include ~Blocks/button/button.pug

mixin landing-card()
  .landing-card
    h1.landing-card__header Найдём номера под ваши пожелания
    form.landing-card__form(action="", method="post")
      .landing-card__twin-datepick
        +twin-datepick("Прибытие", "Выезд")
      label.landing-card__label Гости
      .landing-card__dropdown-absolute
        +dropdown-absolute({
          wordforms: [
            ["гость", "гостя", "гостей"],
            ["гость", "гостя", "гостей"],
            ["младенец", "младенца", "младенцев"]
          ],
          items: ["Взрослые", "Дети", "Младенцы"],
          isOpen: false,
          defaultText: "Сколько гостей",
          isButtons: true,
        })
      +button({ 
        reference: "search-room.html",
        content: "Подобрать номер",
        modificators: ["theme_directed", "transform_high"]
      })