@import 'Source/style-variables.scss';

.form-subscribe {
  $borderRadius: 5px;

  display: flex;
  max-width: 268px;
  border: 1px solid $textColor25;
  border-radius: $borderRadius;

  &__input {
    @include input();

    border: none;
    border-right: none;
    color: $textColor;

    & ::placeholder {
      color: $textColor50;
    }
  }

  &__button {
    position: relative;
    cursor: pointer;
    width: 17%;
    border: none;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    background-color: white;
    flex-shrink: 0;

    &::before {
      position: absolute;
      content: '';
      height: 10px;
      width: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border: 2px solid transparent;
      border-image: $primaryGradient;
      border-image-slice: 1;
      border-left: none;
      border-bottom: none;
    }

    &::after {
      position: absolute;
      content: '';
      width: 15px;
      height: 2px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: $primaryGradient;
    }

    &:focus {
      outline: none;
      background-color: $textColor05;
    }
  }
}