.form-subscribe {
  display: flex;
  height: 44px;
  max-width: 268px;
  border: 2px solid $darkShade25;
  border-radius: 5px;

  &__input {
    height: 100%;
    border: none;
    padding: 10px 0 13px 12px;
    border-right: none;
    color: $darkShade;

    & ::placeholder {
      color: $darkShade50;
    }
  }

  &__button {
    cursor: pointer;
    width: 17%;
    height: 100%;
    border: none;
    background-color: white;
    flex-shrink: 0;

    &:focus {
      outline: none;
      background-color: $darkShade05;
    }
  }
}