@import 'Root/style-variables.scss';

.form-subscribe {
  display: flex;
  max-width: 268px;
  border: 2px solid $darkShade25;
  border-radius: 5px;

  &__input {
    border: none;
    border-right: none;
    color: $darkShade;

    & ::placeholder {
      color: $darkShade50;
    }
  }

  &__button {
    position: relative;
    cursor: pointer;
    width: 17%;
    border: none;
    background-color: white;
    flex-shrink: 0;

    &::before {
      position: absolute;
      content: '';
      height: 10px;
      width: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border: 2px solid transparent;
      border-image: $gradientColor;
      border-image-slice: 1;
      border-left: none;
      border-bottom: none;
    }

    &::after {
      position: absolute;
      content: '';
      width: 15px;
      height: 2px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: $gradientColor;
    }

    &:focus {
      outline: none;
      background-color: $darkShade05;
    }
  }
}