mixin bullet-list(props)
  - let { bullets, addedClasses="" } = props
  .bullet-list(class=`${addedClasses}`)
    ul.bullet-list__content
      each bullet in bullets
        li.bullet-list__item=bullet