include ~Blocks/button/button.pug
include ~Blocks/date-solo/date-solo.pug
include ~Blocks/radio-button/radio-button.pug
include ~Blocks/toggle-button/toggle-button.pug

mixin register-card(props)
  - const { radioButtons = [], toggleButton, buttonSend, buttonLogin } = props;

  .register-card
    h1.register-card__header Регистрация аккаунта
    form.register-card__form(action="", method="post")
      .register-card__name-group
        input.register-card__field(type="text", name="name", placeholder="Имя")
        input.register-card__field(type="text", name="surname", placeholder="Фамилия")
      .register-card__radio-group
        each radioButton in radioButtons
          .register-card__radio
            +radio-button(radioButton)
      .register-card__birthday
        h3.register-card__label Дата рождения
        +date-solo()
      .register-card__login-group
        h3.register-card__label Данные для входа в сервис
        input.register-card__field(type="email", name="email" placeholder="Email")
        input.register-card__field(type="password", name="password" placeholder="Пароль")
        +toggle-button(toggleButton)
      .register-card__send
        +button(buttonSend)
    .register-card__help
      .register-card__text Уже есть аккаунт на Toxin
      +button(buttonLogin)