@import 'Root/style-variables.scss';

.register-card {
  background-color: white;
  max-width: 380px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: $shadow;

  &__header {
    padding-top: 11px;
    padding-bottom: 19px;
  }

  &__field {
    margin-bottom: 10px;
  }

  &__radio {
    margin-right: 12px;
  }

  &__radio-group, &__birthday {
    margin-bottom: 19px;
  }

  &__login-group {
    margin-bottom: 23px;
  }

  &__send {
    margin-bottom: 35px;
  }

  &__label {
    margin-bottom: 5px;
  }
  
  &__help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}