@import 'Root/style-variables.scss';

.register-card {
  background-color: white;
  max-width: 380px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: $cardShadow;

  &__header {
    @include h1();

    padding-top: 11px;
    padding-bottom: 21px;
  }

  &__field {
    margin-bottom: 10px;
  }

  &__radio {
    display: inline-block;
    margin-right: 16px;
  }

  &__radio-group, &__birthday {
    margin-bottom: 20px;
  }

  &__login-group {
    margin-bottom: 23px;
  }

  &__send {
    margin-bottom: 30px;
  }

  &__label {
    @include h3();

    margin-bottom: 5px;
  }
  
  &__help {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    letter-spacing: 0.2px;
    line-height: 23.2px;
  }
}